In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,String,Numeric,Text,Float,ForeignKey
from sqlalchemy.orm import sessionmaker,relationship
import datetime
import dateutil.relativedelta
import quandl
import requests
import time
import sys
import pymysql

In [150]:
engine = create_engine("sqlite:///stck_anal.sqlite")

In [9]:

engine = create_engine('mysql+pymysql://root:varghese@127.0.0.1/stck_anal')

In [10]:

Base = declarative_base()

In [11]:
class Company(Base):
    __tablename__ = 'cmpny'
    
    id_cmpny = Column(Integer, primary_key=True)
    name = Column(Text)
    address = Column(Text)
    ticker = Column(Text)
    sector = Column(Text)
    
    def __repr__(self):
        return f"id={self.id},name=[self.name]"
    
class CompanyFinancials(Base):
    __tablename__ = 'cmpny_financials'
    
    id_cmpny_financials = Column(Integer, primary_key=True)
    id_cmpny = Column(Integer)
    ticker = Column(Text)
    datekey = Column(Text)
    de = Column(Float)
    pe1 = Column(Float)
    ps1 = Column(Float)
    pb = Column(Float)
    netmargin = Column(Float)
    marketcap = Column(Float)
    ev = Column(Float)
    evebitda = Column(Float)
    revenueusd = Column(Float)
    gp = Column(Float)
    ebitda = Column(Float)
    netinccmnusd = Column(Float)
    epsdil = Column(Float)
    debtusd = Column(Float)
    currentratio = Column(Float)
    bvps = Column(Float)
    ncfo = Column(Float)
    depamor = Column(Float)
    sbcomp = Column(Float)
    ncfi = Column(Float)
    capex = Column(Float)
    ncfbus = Column(Float)
    ncfinv = Column(Float)
    ncff = Column(Float)
    ncfdebt = Column(Float)
    ncfcommon = Column(Float)
    ncfdiv = Column(Float)
    ncfx = Column(Float)
    ncf = Column(Float)
    roic = Column(Float)
    sps = Column(Float)
    payoutratio = Column(Float)
    roa = Column(Float)
    roe = Column(Float)
    ros = Column(Float)
    tangibles = Column(Float)
    tbvps = Column(Float)
    workingcapital = Column(Float)
    price = Column(Float)
    sp_price = Column(Float)
    price_change = Column(Float)
    sp_price_change = Column(Float)
    diff = Column(Float)
    status = Column(Text)
    
    
    
    def __repr__(self):
        return f"id={self.id},name=[self.name]"

In [153]:
!rm stck_anal.sqlite

In [15]:
Base.metadata.create_all(engine)

In [16]:
symbols_table = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies",
                                 header=0)[0]
company_info = symbols_table.loc[:, ["Security","Address of Headquarters","Ticker symbol","GICS Sector",]]
company_info.columns = ["name","address","ticker","sector"]

In [17]:
conn =engine.connect()
data = company_info.to_dict(orient='records')
conn.execute(Company.__table__.delete())
conn.execute(Company.__table__.insert(),data)

In [18]:
companies = engine.execute("select * from cmpny ").fetchall()

In [42]:
company_info.to_csv("companies.csv",index=False)

In [19]:
quandl.ApiConfig.api_key = "bkLgy-fmbYDf_AuKMJeV"

In [20]:
companies

[(1, '3M Company', 'St. Paul, Minnesota', 'MMM', 'Industrials'),
 (2, 'Abbott Laboratories', 'North Chicago, Illinois', 'ABT', 'Health Care'),
 (3, 'AbbVie Inc.', 'North Chicago, Illinois', 'ABBV', 'Health Care'),
 (4, 'Accenture plc', 'Dublin, Ireland', 'ACN', 'Information Technology'),
 (5, 'Activision Blizzard', 'Santa Monica, California', 'ATVI', 'Information Technology'),
 (6, 'Acuity Brands Inc', 'Atlanta, Georgia', 'AYI', 'Industrials'),
 (7, 'Adobe Systems Inc', 'San Jose, California', 'ADBE', 'Information Technology'),
 (8, 'Advanced Micro Devices Inc', 'Sunnyvale, California', 'AMD', 'Information Technology'),
 (9, 'Advance Auto Parts', 'Roanoke, Virginia', 'AAP', 'Consumer Discretionary'),
 (10, 'AES Corp', 'Arlington, Virginia', 'AES', 'Utilities'),
 (11, 'Aetna Inc', 'Hartford, Connecticut', 'AET', 'Health Care'),
 (12, 'Affiliated Managers Group Inc', 'Beverly, Massachusetts', 'AMG', 'Financials'),
 (13, 'AFLAC Inc', 'Columbus, Georgia', 'AFL', 'Financials'),
 (14, 'Agilent Technologies Inc', 'Santa Clara, California', 'A', 'Health Care'),
 (15, 'Air Products & Chemicals Inc', 'Allentown, Pennsylvania', 'APD', 'Materials'),
 (16, 'Akamai Technologies Inc', 'Cambridge, Massachusetts', 'AKAM', 'Information Technology'),
 (17, 'Alaska Air Group Inc', 'Seattle, Washington', 'ALK', 'Industrials'),
 (18, 'Albemarle Corp', 'Baton Rouge, Louisiana', 'ALB', 'Materials'),
 (19, 'Alexandria Real Estate Equities Inc', 'Pasadena, California', 'ARE', 'Real Estate'),
 (20, 'Alexion Pharmaceuticals', 'Cheshire, Connecticut', 'ALXN', 'Health Care'),
 (21, 'Align Technology', 'San Jose, California', 'ALGN', 'Health Care'),
 (22, 'Allegion', 'Dublin, Ireland', 'ALLE', 'Industrials'),
 (23, 'Allergan, Plc', 'Dublin, Ireland', 'AGN', 'Health Care'),
 (24, 'Alliance Data Systems', 'Plano, Texas', 'ADS', 'Information Technology'),
 (25, 'Alliant Energy Corp', 'Madison, Wisconsin', 'LNT', 'Utilities'),
 (26, 'Allstate Corp', 'Northfield Township, Illinois', 'ALL', 'Financials'),
 (27, 'Alphabet Inc Class A', 'Mountain View, California', 'GOOGL', 'Information Technology'),
 (28, 'Alphabet Inc Class C', 'Mountain View, California', 'GOOG', 'Information Technology'),
 (29, 'Altria Group Inc', 'Richmond, Virginia', 'MO', 'Consumer Staples'),
 (30, 'Amazon.com Inc.', 'Seattle, Washington', 'AMZN', 'Consumer Discretionary'),
 (31, 'Ameren Corp', 'St. Louis, Missouri', 'AEE', 'Utilities'),
 (32, 'American Airlines Group', 'Fort Worth, Texas', 'AAL', 'Industrials'),
 (33, 'American Electric Power', 'Columbus, Ohio', 'AEP', 'Utilities'),
 (34, 'American Express Co', 'New York, New York', 'AXP', 'Financials'),
 (35, 'American International Group, Inc.', 'New York, New York', 'AIG', 'Financials'),
 (36, 'American Tower Corp A', 'Boston, Massachusetts', 'AMT', 'Real Estate'),
 (37, 'American Water Works Company Inc', 'Voorhees, New Jersey', 'AWK', 'Utilities'),
 (38, 'Ameriprise Financial', 'Minneapolis, Minnesota', 'AMP', 'Financials'),
 (39, 'AmerisourceBergen Corp', 'Chesterbrook, Pennsylvania', 'ABC', 'Health Care'),
 (40, 'AMETEK Inc.', 'Berwyn, Pennsylvania', 'AME', 'Industrials'),
 (41, 'Amgen Inc.', 'Thousand Oaks, California', 'AMGN', 'Health Care'),
 (42, 'Amphenol Corp', 'Wallingford, Connecticut', 'APH', 'Information Technology'),
 (43, 'Anadarko Petroleum Corp', 'The Woodlands, Texas', 'APC', 'Energy'),
 (44, 'Analog Devices, Inc.', 'Norwood, Massachusetts', 'ADI', 'Information Technology'),
 (45, 'Andeavor', 'San Antonio, Texas', 'ANDV', 'Energy'),
 (46, 'ANSYS', 'Canonsburg, Pennsylvania', 'ANSS', 'Information Technology'),
 (47, 'Anthem Inc.', 'Indianapolis, Indiana', 'ANTM', 'Health Care'),
 (48, 'Aon plc', 'London, United Kingdom', 'AON', 'Financials'),
 (49, 'A.O. Smith Corp', 'Milwaukee, Wisconsin', 'AOS', 'Industrials'),
 (50, 'Apache Corporation', 'Houston, Texas', 'APA', 'Energy'),
 (51, 'Apartment Investment & Management', 'Denver, Colorado', 'AIV', 'Real Estate'),
 (52, 'Apple Inc.', 'Cupertino, California', 'AAPL', 'Information Technology'),
 (53, 'Applied Materials Inc.', 'Santa Clara, California', 'AMAT', 'Information Technology'),
 (54, 'Aptiv Plc', 'Gillingham, Kent, United Kingdom', 'APTV', 'Consumer Discretionary'),
 (55, 'Archer-Daniels-Midland Co', 'Decatur, Illinois', 'ADM', 'Consumer Staples'),
 (56, 'Arconic Inc.', 'New York, New York', 'ARNC', 'Industrials'),
 (57, 'Arthur J. Gallagher & Co.', 'Itasca, Illinois', 'AJG', 'Financials'),
 (58, 'Assurant Inc.', 'New York, New York', 'AIZ', 'Financials'),
 (59, 'AT&T Inc.', 'Dallas, Texas', 'T', 'Telecommunication Services'),
 (60, 'Autodesk Inc.', 'San Rafael, California', 'ADSK', 'Information Technology'),
 (61, 'Automatic Data Processing', 'Roseland, New Jersey', 'ADP', 'Information Technology'),
 (62, 'AutoZone Inc', 'Memphis, Tennessee', 'AZO', 'Consumer Discretionary'),
 (63, 'AvalonBay Communities, Inc.', 'Arlington, Virginia[3]', 'AVB', 'Real Estate'),
 (64, 'Avery Dennison Corp', 'Glendale, California', 'AVY', 'Materials'),
 (65, 'Baker Hughes, a GE Company', 'Houston, Texas', 'BHGE', 'Energy'),
 (66, 'Ball Corp', 'Broomfield, Colorado', 'BLL', 'Materials'),
 (67, 'Bank of America Corp', 'Charlotte, North Carolina', 'BAC', 'Financials'),
 (68, 'The Bank of New York Mellon Corp.', 'New York, New York', 'BK', 'Financials'),
 (69, 'Baxter International Inc.', 'Deerfield, Illinois', 'BAX', 'Health Care'),
 (70, 'BB&T Corporation', 'Winston-Salem, North Carolina', 'BBT', 'Financials'),
 (71, 'Becton Dickinson', 'Franklin Lakes, New Jersey', 'BDX', 'Health Care'),
 (72, 'Berkshire Hathaway', 'Omaha, Nebraska', 'BRK.B', 'Financials'),
 (73, 'Best Buy Co. Inc.', 'Richfield, Minnesota', 'BBY', 'Consumer Discretionary'),
 (74, 'Biogen Inc.', 'Weston, Massachusetts', 'BIIB', 'Health Care'),
 (75, 'BlackRock', 'New York, New York', 'BLK', 'Financials'),
 (76, 'Block H&R', 'Kansas City, Missouri', 'HRB', 'Financials'),
 (77, 'Boeing Company', 'Chicago, Illinois', 'BA', 'Industrials'),
 (78, 'Booking Holdings Inc', 'Norwalk, Connecticut', 'BKNG', 'Consumer Discretionary'),
 (79, 'BorgWarner', 'Auburn Hills, Michigan', 'BWA', 'Consumer Discretionary'),
 (80, 'Boston Properties', 'Boston, Massachusetts', 'BXP', 'Real Estate'),
 (81, 'Boston Scientific', 'Marlborough, Massachusetts[4]', 'BSX', 'Health Care'),
 (82, 'Brighthouse Financial Inc', 'Charlotte, North Carolina', 'BHF', 'Financials'),
 (83, 'Bristol-Myers Squibb', 'New York, New York', 'BMY', 'Health Care'),
 (84, 'Broadcom', 'San Jose, California', 'AVGO', 'Information Technology'),
 (85, 'Brown-Forman Corp.', 'Louisville, Kentucky', 'BF.B', 'Consumer Staples'),
 (86, 'C. H. Robinson Worldwide', 'Eden Prairie, Minnesota', 'CHRW', 'Industrials'),
 (87, 'CA, Inc.', 'Islandia, New York', 'CA', 'Information Technology'),
 (88, 'Cabot Oil & Gas', 'Houston, Texas', 'COG', 'Energy'),
 (89, 'Cadence Design Systems', 'San Jose, California', 'CDNS', 'Information Technology'),
 (90, 'Campbell Soup', 'Camden, New Jersey', 'CPB', 'Consumer Staples'),
 (91, 'Capital One Financial', 'Tysons Corner, Virginia', 'COF', 'Financials'),
 (92, 'Cardinal Health Inc.', 'Dublin, Ohio', 'CAH', 'Health Care'),
 (93, 'Carmax Inc', 'Richmond, Virginia', 'KMX', 'Consumer Discretionary'),
 (94, 'Carnival Corp.', 'Miami, Florida', 'CCL', 'Consumer Discretionary'),
 (95, 'Caterpillar Inc.', 'Peoria, Illinois', 'CAT', 'Industrials'),
 (96, 'Cboe Global Markets', 'Chicago, Illinois', 'CBOE', 'Financials'),
 (97, 'CBRE Group', 'Los Angeles, California', 'CBRE', 'Real Estate'),
 (98, 'CBS Corp.', 'New York, New York', 'CBS', 'Consumer Discretionary'),
 (99, 'Celgene Corp.', 'Summit, New Jersey', 'CELG', 'Health Care'),
 (100, 'Centene Corporation', 'St Louis, Missouri', 'CNC', 'Health Care'),
 (101, 'CenterPoint Energy', 'Houston, Texas', 'CNP', 'Utilities'),
 (102, 'CenturyLink Inc', 'Monroe, Louisiana', 'CTL', 'Telecommunication Services'),
 (103, 'Cerner', 'North Kansas City, Missouri', 'CERN', 'Health Care'),
 (104, 'CF Industries Holdings Inc', 'Deerfield, Illinois', 'CF', 'Materials'),
 (105, 'Charles Schwab Corporation', 'San Francisco, California', 'SCHW', 'Financials'),
 (106, 'Charter Communications', 'Stamford, Connecticut', 'CHTR', 'Consumer Discretionary'),
 (107, 'Chevron Corp.', 'San Ramon, California', 'CVX', 'Energy'),
 (108, 'Chipotle Mexican Grill', 'Denver, Colorado', 'CMG', 'Consumer Discretionary'),
 (109, 'Chubb Limited', 'Zurich, Switzerland', 'CB', 'Financials'),
 (110, 'Church & Dwight', 'Ewing, New Jersey', 'CHD', 'Consumer Staples'),
 (111, 'CIGNA Corp.', 'Philadelphia, Pennsylvania', 'CI', 'Health Care'),
 (112, 'Cimarex Energy', 'Denver, Colorado', 'XEC', 'Energy'),
 (113, 'Cincinnati Financial', 'Fairfield, Ohio', 'CINF', 'Financials'),
 (114, 'Cintas Corporation', 'Mason, Ohio', 'CTAS', 'Industrials'),
 (115, 'Cisco Systems', 'San Jose, California', 'CSCO', 'Information Technology'),
 (116, 'Citigroup Inc.', 'New York, New York', 'C', 'Financials'),
 (117, 'Citizens Financial Group', 'Providence, Rhode Island', 'CFG', 'Financials'),
 (118, 'Citrix Systems', 'Fort Lauderdale, Florida', 'CTXS', 'Information Technology'),
 (119, 'The Clorox Company', 'Oakland, California', 'CLX', 'Consumer Staples'),
 (120, 'CME Group Inc.', 'Chicago, Illinois', 'CME', 'Financials'),
 (121, 'CMS Energy', 'Jackson, Michigan', 'CMS', 'Utilities'),
 (122, 'Coca-Cola Company (The)', 'Atlanta, Georgia', 'KO', 'Consumer Staples'),
 (123, 'Cognizant Technology Solutions', 'Teaneck, New Jersey', 'CTSH', 'Information Technology'),
 (124, 'Colgate-Palmolive', 'New York, New York', 'CL', 'Consumer Staples'),
 (125, 'Comcast Corp.', 'Philadelphia, Pennsylvania', 'CMCSA', 'Consumer Discretionary'),
 (126, 'Comerica Inc.', 'Dallas, Texas', 'CMA', 'Financials'),
 (127, 'Conagra Brands', 'Chicago, Illinois', 'CAG', 'Consumer Staples'),
 (128, 'Concho Resources', 'Midland, Texas', 'CXO', 'Energy'),
 (129, 'ConocoPhillips', 'Houston, Texas', 'COP', 'Energy'),
 (130, 'Consolidated Edison', 'New York, New York', 'ED', 'Utilities'),
 (131, 'Constellation Brands', 'Victor, New York', 'STZ', 'Consumer Staples'),
 (132, 'The Cooper Companies', 'Pleasanton, California', 'COO', 'Health Care'),
 (133, 'Corning Inc.', 'Corning, New York', 'GLW', 'Information Technology'),
 (134, 'Costco Wholesale Corp.', 'Issaquah, Washington', 'COST', 'Consumer Staples'),
 (135, 'Coty, Inc', 'New York, New York', 'COTY', 'Consumer Staples'),
 (136, 'Crown Castle International Corp.', 'Houston, Texas', 'CCI', 'Real Estate'),
 (137, 'CSRA Inc.', 'Falls Church, Virginia', 'CSRA', 'Information Technology'),
 (138, 'CSX Corp.', 'Jacksonville, Florida', 'CSX', 'Industrials'),
 (139, 'Cummins Inc.', 'Columbus, Indiana', 'CMI', 'Industrials'),
 (140, 'CVS Health', 'Woonsocket, Rhode Island', 'CVS', 'Consumer Staples'),
 (141, 'D. R. Horton', 'Fort Worth, Texas', 'DHI', 'Consumer Discretionary'),
 (142, 'Danaher Corp.', 'Washington, D.C.', 'DHR', 'Health Care'),
 (143, 'Darden Restaurants', 'Orlando, Florida', 'DRI', 'Consumer Discretionary'),
 (144, 'DaVita Inc.', 'Denver, Colorado', 'DVA', 'Health Care'),
 (145, 'Deere & Co.', 'Moline, Illinois', 'DE', 'Industrials'),
 (146, 'Delta Air Lines Inc.', 'Atlanta, Georgia', 'DAL', 'Industrials'),
 (147, 'Dentsply Sirona', 'York, Pennsylvania', 'XRAY', 'Health Care'),
 (148, 'Devon Energy Corp.', 'Oklahoma City, Oklahoma', 'DVN', 'Energy'),
 (149, 'Digital Realty Trust Inc', 'San Francisco, California', 'DLR', 'Real Estate'),
 (150, 'Discover Financial Services', 'Riverwoods, Illinois', 'DFS', 'Financials'),
 (151, 'Discovery Inc. Class A', 'Silver Spring, Maryland', 'DISCA', 'Consumer Discretionary'),
 (152, 'Discovery Inc. Class C', 'Silver Spring, Maryland', 'DISCK', 'Consumer Discretionary'),
 (153, 'Dish Network', 'Meridian, Colorado', 'DISH', 'Consumer Discretionary'),
 (154, 'Dollar General', 'Goodlettsville, Tennessee', 'DG', 'Consumer Discretionary'),
 (155, 'Dollar Tree', 'Chesapeake, Virginia', 'DLTR', 'Consumer Discretionary'),
 (156, 'Dominion Energy', 'Richmond, Virginia', 'D', 'Utilities'),
 (157, 'Dover Corp.', 'Downers Grove, Illinois', 'DOV', 'Industrials'),
 (158, 'DowDuPont', 'Midland, Michigan', 'DWDP', 'Materials'),
 (159, 'Dr Pepper Snapple Group', 'Plano, Texas', 'DPS', 'Consumer Staples'),
 (160, 'DTE Energy Co.', 'Detroit, Michigan', 'DTE', 'Utilities'),
 (161, 'Duke Realty Corp', 'Indianapolis, Indiana', 'DRE', 'Real Estate'),
 (162, 'Duke Energy', 'Charlotte, North Carolina', 'DUK', 'Utilities'),
 (163, 'DXC Technology', 'Tysons Corner, Virginia', 'DXC', 'Information Technology'),
 (164, 'E*Trade', 'New York, New York', 'ETFC', 'Financials'),
 (165, 'Eastman Chemical', 'Kingsport, Tennessee', 'EMN', 'Materials'),
 (166, 'Eaton Corporation', 'Dublin, Ireland', 'ETN', 'Industrials'),
 (167, 'eBay Inc.', 'San Jose, California', 'EBAY', 'Information Technology'),
 (168, 'Ecolab Inc.', 'St. Paul, Minnesota', 'ECL', 'Materials'),
 (169, "Edison Int'l", 'Rosemead, California', 'EIX', 'Utilities'),
 (170, 'Edwards Lifesciences', 'Irvine, California', 'EW', 'Health Care'),
 (171, 'Electronic Arts', 'Redwood City, California', 'EA', 'Information Technology'),
 (172, 'Emerson Electric Company', 'Ferguson, Missouri', 'EMR', 'Industrials'),
 (173, 'Entergy Corp.', 'New Orleans, Louisiana', 'ETR', 'Utilities'),
 (174, 'Envision Healthcare', 'Nashville, Tennessee', 'EVHC', 'Health Care'),
 (175, 'EOG Resources', 'Houston, Texas', 'EOG', 'Energy'),
 (176, 'EQT Corporation', 'Pittsburgh, Pennsylvania', 'EQT', 'Energy'),
 (177, 'Equifax Inc.', 'Atlanta, Georgia', 'EFX', 'Industrials'),
 (178, 'Equinix', 'Redwood City, California', 'EQIX', 'Real Estate'),
 (179, 'Equity Residential', 'Chicago, Illinois', 'EQR', 'Real Estate'),
 (180, 'Essex Property Trust, Inc.', 'Palo Alto, California', 'ESS', 'Real Estate'),
 (181, 'Estee Lauder Cos.', 'New York, New York', 'EL', 'Consumer Staples'),
 (182, 'Eversource Energy', 'Springfield, Massachusetts', 'ES', 'Utilities'),
 (183, 'Everest Re Group Ltd.', 'Hamilton, Bermuda', 'RE', 'Financials'),
 (184, 'Exelon Corp.', 'Chicago, Illinois', 'EXC', 'Utilities'),
 (185, 'Expedia Inc.', 'Bellevue, Washington', 'EXPE', 'Consumer Discretionary'),
 (186, 'Expeditors International', 'Seattle, Washington', 'EXPD', 'Industrials'),
 (187, 'Express Scripts', 'Cool Valley, Missouri', 'ESRX', 'Health Care'),
 (188, 'Extra Space Storage', 'Salt Lake City, Utah', 'EXR', 'Real Estate'),
 (189, 'Exxon Mobil Corp.', 'Irving, Texas', 'XOM', 'Energy'),
 (190, 'F5 Networks', 'Seattle, Washington', 'FFIV', 'Information Technology'),
 (191, 'Facebook, Inc.', 'Menlo Park, California', 'FB', 'Information Technology'),
 (192, 'Fastenal Co', 'Winona, Minnesota', 'FAST', 'Industrials'),
 (193, 'Federal Realty Investment Trust', 'Rockville, Maryland', 'FRT', 'Real Estate'),
 (194, 'FedEx Corporation', 'Memphis, Tennessee', 'FDX', 'Industrials'),
 (195, 'Fidelity National Information Services', 'Jacksonville, Florida', 'FIS', 'Information Technology'),
 (196, 'Fifth Third Bancorp', 'Cincinnati, Ohio', 'FITB', 'Financials'),
 (197, 'FirstEnergy Corp', 'Akron, Ohio', 'FE', 'Utilities'),
 (198, 'Fiserv Inc', 'Brookfield, Wisconsin', 'FISV', 'Information Technology'),
 (199, 'FLIR Systems', 'Wilsonville, Oregon', 'FLIR', 'Information Technology'),
 (200, 'Flowserve Corporation', 'Irving, Texas', 'FLS', 'Industrials'),
 (201, 'Fluor Corp.', 'Irving, Texas', 'FLR', 'Industrials'),
 (202, 'FMC Corporation', 'Philadelphia, Pennsylvania', 'FMC', 'Materials'),
 (203, 'Foot Locker Inc', 'New York, New York', 'FL', 'Consumer Discretionary'),
 (204, 'Ford Motor', 'Dearborn, Michigan', 'F', 'Consumer Discretionary'),
 (205, 'Fortive Corp', 'Everett, Washington', 'FTV', 'Industrials'),
 (206, 'Fortune Brands Home & Security', 'Deerfield, Illinois', 'FBHS', 'Industrials'),
 (207, 'Franklin Resources', 'San Mateo, California', 'BEN', 'Financials'),
 (208, 'Freeport-McMoRan Inc.', 'Phoenix, Arizona', 'FCX', 'Materials'),
 (209, 'Gap Inc.', 'San Francisco, California', 'GPS', 'Consumer Discretionary'),
 (210, 'Garmin Ltd.', 'Schaffhausen, Switzerland', 'GRMN', 'Consumer Discretionary'),
 (211, 'Gartner Inc', 'Stamford, Connecticut', 'IT', 'Information Technology'),
 (212, 'General Dynamics', 'Falls Church, Virginia', 'GD', 'Industrials'),
 (213, 'General Electric', 'Boston, Massachusetts', 'GE', 'Industrials'),
 (214, 'General Growth Properties Inc.', 'Chicago, Illinois', 'GGP', 'Real Estate'),
 (215, 'General Mills', 'Golden Valley, Minnesota', 'GIS', 'Consumer Staples'),
 (216, 'General Motors', 'Detroit, Michigan', 'GM', 'Consumer Discretionary'),
 (217, 'Genuine Parts', 'Atlanta, Georgia', 'GPC', 'Consumer Discretionary'),
 (218, 'Gilead Sciences', 'Foster City, California', 'GILD', 'Health Care'),
 (219, 'Global Payments Inc.', 'Atlanta, Georgia', 'GPN', 'Information Technology'),
 (220, 'Goldman Sachs Group', 'New York, New York', 'GS', 'Financials'),
 (221, 'Goodyear Tire & Rubber', 'Akron, Ohio', 'GT', 'Consumer Discretionary'),
 (222, 'Grainger (W.W.) Inc.', 'Lake Forest, Illinois', 'GWW', 'Industrials'),
 (223, 'Halliburton Co.', 'Houston, Texas', 'HAL', 'Energy'),
 (224, 'Hanesbrands Inc', 'Winston-Salem, North Carolina', 'HBI', 'Consumer Discretionary'),
 (225, 'Harley-Davidson', 'Milwaukee, Wisconsin', 'HOG', 'Consumer Discretionary'),
 (226, 'Harris Corporation', 'Melbourne, Florida', 'HRS', 'Information Technology'),
 (227, 'Hartford Financial Svc.Gp.', 'Hartford, Connecticut', 'HIG', 'Financials'),
 (228, 'Hasbro Inc.', 'Pawtucket, Rhode Island', 'HAS', 'Consumer Discretionary'),
 (229, 'HCA Holdings', 'Nashville, Tennessee', 'HCA', 'Health Care'),
 (230, 'HCP Inc.', 'Long Beach, California', 'HCP', 'Real Estate'),
 (231, 'Helmerich & Payne', 'Tulsa, Oklahoma[5]', 'HP', 'Energy'),
 (232, 'Henry Schein', 'Melville, New York', 'HSIC', 'Health Care'),
 (233, 'The Hershey Company', 'Hershey, Pennsylvania', 'HSY', 'Consumer Staples'),
 (234, 'Hess Corporation', 'New York, New York', 'HES', 'Energy'),
 (235, 'Hewlett Packard Enterprise', 'Palo Alto, California', 'HPE', 'Information Technology'),
 (236, 'Hilton Worldwide Holdings Inc', 'Tysons Corner, Virginia', 'HLT', 'Consumer Discretionary'),
 (237, 'Hologic', 'Marlborough, Massachusetts', 'HOLX', 'Health Care'),
 (238, 'Home Depot', 'Atlanta, Georgia', 'HD', 'Consumer Discretionary'),
 (239, "Honeywell Int'l Inc.", 'Morristown, New Jersey', 'HON', 'Industrials'),
 (240, 'Hormel Foods Corp.', 'Austin, Minnesota', 'HRL', 'Consumer Staples'),
 (241, 'Host Hotels & Resorts', 'Bethesda, Maryland', 'HST', 'Real Estate'),
 (242, 'HP Inc.', 'Palo Alto, California', 'HPQ', 'Information Technology'),
 (243, 'Humana Inc.', 'Louisville, Kentucky', 'HUM', 'Health Care'),
 (244, 'Huntington Bancshares', 'Columbus, Ohio', 'HBAN', 'Financials'),
 (245, 'Huntington Ingalls Industries', 'Newport News, Virginia', 'HII', 'Industrials'),
 (246, 'IDEXX Laboratories', 'Westbrook, Maine', 'IDXX', 'Health Care'),
 (247, 'IHS Markit Ltd.', 'London, United Kingdom', 'INFO', 'Industrials'),
 (248, 'Illinois Tool Works', 'Glenview, Illinois', 'ITW', 'Industrials'),
 (249, 'Illumina Inc', 'San Diego, California', 'ILMN', 'Health Care'),
 (250, 'Ingersoll-Rand PLC', 'Dublin, Ireland', 'IR', 'Industrials'),
 (251, 'Intel Corp.', 'Santa Clara, California', 'INTC', 'Information Technology'),
 (252, 'Intercontinental Exchange', 'Atlanta, Georgia', 'ICE', 'Financials'),
 (253, 'International Business Machines', 'Armonk, New York', 'IBM', 'Information Technology'),
 (254, 'Incyte', 'Wilmington, Delaware', 'INCY', 'Health Care'),
 (255, 'International Paper', 'Memphis, Tennessee', 'IP', 'Materials'),
 (256, 'Interpublic Group', 'New York, New York', 'IPG', 'Consumer Discretionary'),
 (257, 'Intl Flavors & Fragrances', 'New York, New York', 'IFF', 'Materials'),
 (258, 'Intuit Inc.', 'Mountain View, California', 'INTU', 'Information Technology'),
 (259, 'Intuitive Surgical Inc.', 'Sunnyvale, California', 'ISRG', 'Health Care'),
 (260, 'Invesco Ltd.', 'Atlanta, Georgia', 'IVZ', 'Financials'),

In [ ]:
for company in companies:
    try:
        nf_dict = {}
        data = quandl.get("WIKI" +"/" + company.tckr,collapse="monthly", start_date=start_dt, end_date=end_dt)
        data = data.reset_index()
        data = data[['Date','Open','High','Low','Close','Volume']]
        data.columns = ["date","open","high","low","close","volume"]
        data["id_cmpny"] = company.id_cmpny
        data = data[["id_cmpny", "date","open","high","low","close","volume"]]
        data['date'] = data['date'].astype('str')
        data = data.to_dict(orient='records')
        
        conn.execute(CompanyPrcsMnthly.__table__.insert(),data)
    except quandl.NotFoundError as e:
        nf_dict["id_cmpny"] = company.id_cmpny
        nf_dict["tckr"] = company.tckr 
        nf_list.append(nf_dict)
        print(company.tckr + " not found ")
        continue

In [67]:
df_test = quandl.get_table('SHARADAR/SF1', qopts={"columns":['DATEKEY','DE','PE1','PS1','PB','NETMARGIN',
'MARKETCAP',
'EV',
'EVEBITDA',
'REVENUEUSD',
'GP',
'EBITDA',
'NETINCCMNUSD',
'EPSDIL',
'DEBTUSD',
'CURRENTRATIO',
'BVPS',
'NCFO',
'DEPAMOR',
'SBCOMP',
'NCFI',
'CAPEX',
'NCFBUS',
'NCFINV',
'NCFF',
'NCFDEBT',
'NCFCOMMON',
'NCFDIV',
'NCFX',
'NCF',
'ROIC',
'SPS',
'PAYOUTRATIO',
'ROA',
'ROE',
'ROS',
'TANGIBLES',
'TBVPS',
'WORKINGCAPITAL',
 'price']}, ticker=['AAPL'],dimension = 'ARQ')

In [50]:
df_test

,datekey,de,pe1,ps1,pb,netmargin,marketcap,ev,evebitda,revenueusd,...,roic,sps,payoutratio,roa,roe,ros,tangibles,tbvps,workingcapital,price
None,,,,,,,,,,,,,,,,,,,,,
0,2008-05-01,0.688,36.217,5.507,8.790,0.139,158692090500,149622090500,22.584,7512000000,...,None,4.669,0.000,None,None,None,30133000000,4.894,17102000000,25.714
1,2008-07-23,0.616,31.711,4.770,7.506,0.144,147285694880,137912694880,19.772,7464000000,...,None,4.979,0.000,None,None,None,31380000000,5.073,18780000000,23.751
2,2008-11-05,0.882,18.847,2.804,4.366,0.144,91826998205,79951998205,10.851,7895000000,...,None,5.263,0.000,None,None,None,39080000000,6.293,20598000000,14.757
3,2009-01-23,0.868,16.101,2.378,3.435,0.158,78689327494,71453327494,9.685,10167000000,...,None,5.308,0.000,None,None,None,42303000000,6.797,20406000000,12.623
4,2009-04-23,0.778,22.199,3.317,4.602,0.148,111870573184,107404573184,13.972,8163000000,...,None,5.400,0.000,None,None,None,42762000000,6.855,20102000000,17.914
5,2009-07-22,0.860,26.945,4.053,5.424,0.147,140410318649,134805318649,16.918,8337000000,...,None,5.525,0.000,None,None,None,47674000000,7.621,18509000000,22.391
6,2009-10-27,0.935,30.882,4.824,6.387,0.169,177766910216,172503910216,19.858,9870000000,...,None,5.845,0.000,None,None,None,53398000000,8.494,16983000000,28.196
7,2010-01-25,0.508,24.379,4.363,5.148,0.215,184147311161,176538311161,15.745,15683000000,...,None,6.649,0.000,None,None,None,53432000000,8.448,20235000000,29.011
8,2010-04-21,0.450,25.004,4.964,5.995,0.228,235874227641,225856227641,16.662,13499000000,...,None,7.460,0.000,None,None,None,56314000000,8.864,20107000000,37.031
9,2010-07-21,0.501,20.245,4.236,5.388,0.207,232264226611,222559226611,13.728,15700000000,...,None,8.575,0.000,None,None,None,63693000000,9.975,20421000000,36.320
10,2010-10-27,0.573,19.980,4.292,5.909,0.212,282374644285,271113644285,13.856,20343000000,...,None,10.245,0.000,None,None,None,74100000000,11.575,20956000000,43.976
11,2011-01-19,0.587,18.610,4.083,5.710,0.225,312165841586,301431841586,13.152,26741000000,...,None,11.854,0.000,None,None,None,85479000000,13.283,20132000000,48.406
12,2011-04-21,0.544,16.458,3.702,5.275,0.243,324307725524,308329725524,11.416,24667000000,...,None,13.532,0.000,None,None,None,93656000000,14.493,22670000000,50.099
13,2011-07-20,0.540,15.097,3.572,5.173,0.256,358691463793,346600463793,10.673,28571000000,...,None,15.475,0.000,None,None,None,104848000000,16.173,20039000000,55.271
14,2011-10-26,0.519,14.282,3.420,4.860,0.234,372321245400,362506245400,10.064,28270000000,...,None,16.731,0.000,None,None,None,111939000000,17.227,17018000000,57.229
15,2012-01-25,0.540,12.563,3.253,4.624,0.282,416452384200,406142384200,8.849,46333000000,...,None,19.616,0.000,None,None,None,134313000000,20.609,20164000000,63.809
16,2012-04-25,0.473,14.695,4.000,5.565,0.297,570387820000,560266820000,10.407,39186000000,...,None,21.784,0.000,None,None,None,146189000000,22.370,18676000000,87.143
17,2012-07-25,0.458,13.358,3.619,4.823,0.252,538980327820,531035327820,9.399,35023000000,...,None,22.698,0.000,None,None,None,157435000000,24.013,18883000000,82.139
18,2012-10-31,0.489,13.336,3.556,4.737,0.229,560012761440,549266761440,9.303,35966000000,...,None,23.917,0.303,None,None,None,170705000000,25.991,19111000000,85.046
19,2013-01-24,0.540,10.113,2.568,3.322,0.240,423045629000,406891629000,6.770,54512000000,...,None,25.057,0.190,None,None,None,190245000000,28.946,25469000000,64.357
20,2013-04-24,0.437,9.595,2.253,2.809,0.219,380586500838,368533500838,6.308,43603000000,...,None,25.710,0.261,None,None,None,189207000000,28.766,27829000000,57.923
21,2013-07-24,0.620,10.918,2.389,3.244,0.195,400202013470,405912013470,7.139,35323000000,...,None,26.345,0.406,None,None,None,193981000000,30.167,31900000000,62.930
22,2013-10-30,0.675,13.112,2.842,3.823,0.200,472268877248,474969877248,8.346,37472000000,...,None,26.386,0.365,None,None,None,201244000000,31.797,29628000000,74.985
23,2014-01-28,0.736,12.469,2.609,3.484,0.227,451792428500,454676428500,7.907,57594000000,...,None,27.739,0.209,None,None,None,219057000000,34.923,26578000000,72.357
24,2014-04-24,0.714,13.471,2.821,4.069,0.224,489066290370,487079290370,8.310,45646000000,...,None,28.748,0.261,None,None,None,200006000000,32.663,27333000000,81.110
25,2014-07-23,0.840,15.578,3.280,4.812,0.207,581960793730,600023793730,10.015,37432000000,...,None,29.628,0.364,None,None,None,216379000000,35.987,21744000000,97.190
26,2014-10-27,1.078,16.196,3.499,5.526,0.201,616453332400,637904332400,10.384,42123000000,...,None,30.037,0.329,None,None,None,223081000000,37.595,5083000000,105.110
27,2015-01-28,1.124,15.436,3.372,5.446,0.242,671651691880,688576691880,10.042,74599000000,...,None,34.194,0.153,None,None,None,252895000000,43.281,9792000000,115.310
28,2015-04-28,1.025,16.039,3.565,5.830,0.234,752160076800,781542076800,10.575,58010000000,...,None,36.619,0.201,None,None,None,252422000000,43.568,9162000000,130.560
29,2015-07-22,1.173,14.377,3.198,5.682,0.215,714094848840,753193848840,9.530,49605000000,...,None,39.152,0.280,None,None,None,264328000000,46.131,5668000000,125.220
30,2015-10-28,1.434,12.852,2.936,5.571,0.216,664969728370,708311728370,8.455,51501000000,...,None,40.622,0.263,None,None,None,281470000000,49.845,8768000000,119.270
31,2016-01-27,1.287,9.854,2.210,4.038,0.242,517974943860,564248943860,6.693,75872000000,...,None,42.272,0.158,None,None,None,284158000000,51.117,127000000,93.420
32,2016-04-27,1.340,10.809,2.371,4.107,0.208,535801713500,594159713500,7.438,50557000000,...,None,41.262,0.272,None,None,None,296185000000,53.711,19327000000,97.820
33,2016-07-27,1.415,11.943,2.544,4.384,0.184,554740206850,621438206850,8.250,42358000000,...,None,40.471,0.399,None,None,None,296835000000,54.535,22275000000,102.950
34,2016-10-26,1.508,13.843,2.933,4.806,0.192,616362059670,682910059670,9.501,46852000000,...,None,39.416,0.337,None,None,None,313066000000,58.333,27863000000,115.590
35,2017-02-01,1.501,15.309,3.128,5.102,0.228,675492025000,746670025000,10.440,78351000000,...,None,41.165,0.169,None,None,None,322870000000,60.934,19202000000,128.750
36,2017-05-03,1.495,17.080,3.486,5.718,0.209,766747310400,850112310400,11.821,52896000000,...,None,42.186,0.270,None,None,None,326442000000,62.467,28648000000,147.060
37,2017-08-02,1.607,17.736,3.652,6.129,0.192,811663927920,901431927920,12.420,45408000000,...,None,43.023,0.375,None,None,None,337068000000,64.882,31573000000,157.140
38,2017-11-03,1.800,18.608,3.926,6.607,0.204,885668820000,981059820000,13.214,52579000000,...,None,43.938,0.301,None,None,None,367304000000,71.329,27831000000,172.500
39,2018-02-02,1.902,16.364,3.428,5.804,0.227,813719464810,908628464810,11.823,88293000000,...,None,46.779,0.161,None,None,None,398756000000,77.991,28022000000,160.370

In [ ]:
df_test.dtypes

In [21]:
sp_test = pd.read_csv("GSPC.csv")

In [22]:
column_not_needed = ["Open","High","Low","Adj Close","Volume"]

In [23]:
sp_test.drop(column_not_needed,axis=1,inplace=True)

In [24]:
sp_test.columns = ['datekey','sp_price']

In [25]:
sp_test['datekey'] = pd.to_datetime(sp_test['datekey'])

datekey    datetime64[ns]
SpPrice           float64
dtype: object

In [30]:
cmpny_financials_attr

83    1409.339966
Name: SpPrice, dtype: float64
140    1282.189941
Name: SpPrice, dtype: float64
214    952.77002
Name: SpPrice, dtype: float64
267    831.950012
Name: SpPrice, dtype: float64
329    851.919983
Name: SpPrice, dtype: float64
391    954.070007
Name: SpPrice, dtype: float64
459    1063.410034
Name: SpPrice, dtype: float64
519    1096.780029
Name: SpPrice, dtype: float64
579    1205.939941
Name: SpPrice, dtype: float64
642    1069.589966
Name: SpPrice, dtype: float64
711    1182.449951
Name: SpPrice, dtype: float64
768    1281.920044
Name: SpPrice, dtype: float64
833    1337.380005
Name: SpPrice, dtype: float64
894    1325.839966
Name: SpPrice, dtype: float64
963    1242.0
Name: SpPrice, dtype: float64
1024    1326.060059
Name: SpPrice, dtype: float64
1087    1390.689941
Name: SpPrice, dtype: float64
1150    1337.890015
Name: SpPrice, dtype: float64
1217    1412.160034
Name: SpPrice, dtype: float64
1274    1494.819946
Name: SpPrice, dtype: float64
1336    1578.790039
Name: SpPrice, dtype: float64
1399    1685.939941
Name: SpPrice, dtype: float64
1468    1763.310059
Name: SpPrice, dtype: float64
1528    1792.5
Name: SpPrice, dtype: float64
1588    1878.609985
Name: SpPrice, dtype: float64
1650    1987.01001
Name: SpPrice, dtype: float64
1717    1961.630005
Name: SpPrice, dtype: float64
1780    2002.160034
Name: SpPrice, dtype: float64
1842    2114.76001
Name: SpPrice, dtype: float64
1901    2114.149902
Name: SpPrice, dtype: float64
1970    2090.350098
Name: SpPrice, dtype: float64
2031    1882.949951
Name: SpPrice, dtype: float64
2094    2095.149902
Name: SpPrice, dtype: float64
2157    2166.580078
Name: SpPrice, dtype: float64
2221    2139.429932
Name: SpPrice, dtype: float64
2287    2279.550049
Name: SpPrice, dtype: float64
2350    2388.129883
Name: SpPrice, dtype: float64
2413    2477.570068
Name: SpPrice, dtype: float64
2479    2587.840088
Name: SpPrice, dtype: float64
2540    2762.129883
Name: SpPrice, dtype: float64

/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:27: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:29: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,datekey,de,pe1,ps1,pb,netmargin,marketcap,ev,evebitda,revenueusd,...,ros,tangibles,tbvps,workingcapital,price,SpPrice,Status,priceChange,SpPriceChange,Diff
None,,,,,,,,,,,,,,,,,,,,,
0,2008-05-01,0.688,36.217,5.507,8.790,0.139,158692090500,149622090500,22.584,7512000000,...,None,30133000000,4.894,17102000000,25.714,1409.339966,underperform,NaN,NaN,NaN
1,2008-07-23,0.616,31.711,4.770,7.506,0.144,147285694880,137912694880,19.772,7464000000,...,None,31380000000,5.073,18780000000,23.751,1282.189941,underperform,-0.000763,-0.000902,0.000139
2,2008-11-05,0.882,18.847,2.804,4.366,0.144,91826998205,79951998205,10.851,7895000000,...,None,39080000000,6.293,20598000000,14.757,952.770020,outperform,-0.003787,-0.002569,NaN
3,2009-01-23,0.868,16.101,2.378,3.435,0.158,78689327494,71453327494,9.685,10167000000,...,None,42303000000,6.797,20406000000,12.623,831.950012,underperform,-0.001446,-0.001268,NaN
4,2009-04-23,0.778,22.199,3.317,4.602,0.148,111870573184,107404573184,13.972,8163000000,...,None,42762000000,6.855,20102000000,17.914,851.919983,underperform,0.004192,0.000240,NaN
5,2009-07-22,0.860,26.945,4.053,5.424,0.147,140410318649,134805318649,16.918,8337000000,...,None,47674000000,7.621,18509000000,22.391,954.070007,underperform,0.002499,0.001199,NaN
6,2009-10-27,0.935,30.882,4.824,6.387,0.169,177766910216,172503910216,19.858,9870000000,...,None,53398000000,8.494,16983000000,28.196,1063.410034,underperform,0.002593,0.001146,NaN
7,2010-01-25,0.508,24.379,4.363,5.148,0.215,184147311161,176538311161,15.745,15683000000,...,None,53432000000,8.448,20235000000,29.011,1096.780029,underperform,0.000289,0.000314,NaN
8,2010-04-21,0.450,25.004,4.964,5.995,0.228,235874227641,225856227641,16.662,13499000000,...,None,56314000000,8.864,20107000000,37.031,1205.939941,underperform,0.002764,0.000995,NaN
9,2010-07-21,0.501,20.245,4.236,5.388,0.207,232264226611,222559226611,13.728,15700000000,...,None,63693000000,9.975,20421000000,36.320,1069.589966,underperform,-0.000192,-0.001131,NaN
10,2010-10-27,0.573,19.980,4.292,5.909,0.212,282374644285,271113644285,13.856,20343000000,...,None,74100000000,11.575,20956000000,43.976,1182.449951,underperform,0.002108,0.001055,NaN
11,2011-01-19,0.587,18.610,4.083,5.710,0.225,312165841586,301431841586,13.152,26741000000,...,None,85479000000,13.283,20132000000,48.406,1281.920044,underperform,0.001007,0.000841,NaN
12,2011-04-21,0.544,16.458,3.702,5.275,0.243,324307725524,308329725524,11.416,24667000000,...,None,93656000000,14.493,22670000000,50.099,1337.380005,underperform,0.000350,0.000433,NaN
13,2011-07-20,0.540,15.097,3.572,5.173,0.256,358691463793,346600463793,10.673,28571000000,...,None,104848000000,16.173,20039000000,55.271,1325.839966,underperform,0.001032,-0.000086,NaN
14,2011-10-26,0.519,14.282,3.420,4.860,0.234,372321245400,362506245400,10.064,28270000000,...,None,111939000000,17.227,17018000000,57.229,1242.000000,underperform,0.000354,-0.000632,NaN
15,2012-01-25,0.540,12.563,3.253,4.624,0.282,416452384200,406142384200,8.849,46333000000,...,None,134313000000,20.609,20164000000,63.809,1326.060059,underperform,0.001150,0.000677,NaN
16,2012-04-25,0.473,14.695,4.000,5.565,0.297,570387820000,560266820000,10.407,39186000000,...,None,146189000000,22.370,18676000000,87.143,1390.689941,underperform,0.003657,0.000487,NaN
17,2012-07-25,0.458,13.358,3.619,4.823,0.252,538980327820,531035327820,9.399,35023000000,...,None,157435000000,24.013,18883000000,82.139,1337.890015,underperform,-0.000574,-0.000380,NaN
18,2012-10-31,0.489,13.336,3.556,4.737,0.229,560012761440,549266761440,9.303,35966000000,...,None,170705000000,25.991,19111000000,85.046,1412.160034,underperform,0.000354,0.000555,NaN
19,2013-01-24,0.540,10.113,2.568,3.322,0.240,423045629000,406891629000,6.770,54512000000,...,None,190245000000,28.946,25469000000,64.357,1494.819946,underperform,-0.002433,0.000585,NaN
20,2013-04-24,0.437,9.595,2.253,2.809,0.219,380586500838,368533500838,6.308,43603000000,...,None,189207000000,28.766,27829000000,57.923,1578.790039,underperform,-0.001000,0.000562,NaN
21,2013-07-24,0.620,10.918,2.389,3.244,0.195,400202013470,405912013470,7.139,35323000000,...,None,193981000000,30.167,31900000000,62.930,1685.939941,underperform,0.000864,0.000679,NaN
22,2013-10-30,0.675,13.112,2.842,3.823,0.200,472268877248,474969877248,8.346,37472000000,...,None,201244000000,31.797,29628000000,74.985,1763.310059,underperform,0.001916,0.000459,NaN
23,2014-01-28,0.736,12.469,2.609,3.484,0.227,451792428500,454676428500,7.907,57594000000,...,None,219057000000,34.923,26578000000,72.357,1792.500000,underperform,-0.000350,0.000166,NaN
24,2014-04-24,0.714,13.471,2.821,4.069,0.224,489066290370,487079290370,8.310,45646000000,...,None,200006000000,32.663,27333000000,81.110,1878.609985,underperform,0.001210,0.000480,NaN
25,2014-07-23,0.840,15.578,3.280,4.812,0.207,581960793730,600023793730,10.015,37432000000,...,None,216379000000,35.987,21744000000,97.190,1987.010010,underperform,0.001982,0.000577,NaN
26,2014-10-27,1.078,16.196,3.499,5.526,0.201,616453332400,637904332400,10.384,42123000000,...,None,223081000000,37.595,5083000000,105.110,1961.630005,underperform,0.000815,-0.000128,NaN
27,2015-01-28,1.124,15.436,3.372,5.446,0.242,671651691880,688576691880,10.042,74599000000,...,None,252895000000,43.281,9792000000,115.310,2002.160034,underperform,0.000970,0.000207,NaN
28,2015-04-28,1.025,16.039,3.565,5.830,0.234,752160076800,781542076800,10.575,58010000000,...,None,252422000000,43.568,9162000000,130.560,2114.760010,underperform,0.001323,0.000562,NaN
29,2015-07-22,1.173,14.377,3.198,5.682,0.215,714094848840,753193848840,9.530,49605000000,...,None,264328000000,46.131,5668000000,125.220,2114.149902,underperform,-0.000409,-0.000003,NaN
30,2015-10-28,1.434,12.852,2.936,5.571,0.216,664969728370,708311728370,8.455,51501000000,...,None,281470000000,49.845,8768000000,119.270,2090.350098,underperform,-0.000475,-0.000113,NaN
31,2016-01-27,1.287,9.854,2.210,4.038,0.242,517974943860,564248943860,6.693,75872000000,...,None,284158000000,51.117,127000000,93.420,1882.949951,underperform,-0.002167,-0.000992,NaN
32,2016-04-27,1.340,10.809,2.371,4.107,0.208,535801713500,594159713500,7.438,50557000000,...,None,296185000000,53.711,19327000000,97.820,2095.149902,underperform,0.000471,0.001127,NaN
33,2016-07-27,1.415,11.943,2.544,4.384,0.184,554740206850,621438206850,8.250,42358000000,...,None,296835000000,54.535,22275000000,102.950,2166.580078,underperform,0.000524,0.000341,NaN
34,2016-10-26,1.508,13.843,2.933,4.806,0.192,616362059670,682910059670,9.501,46852000000,...,None,313066000000,58.333,27863000000,115.590,2139.429932,underperform,0.001228,-0.000125,NaN
35,2017-02-01,1.501,15.309,3.128,5.102,0.228,675492025000,746670025000,10.440,78351000000,...,None,322870000000,60.934,19202000000,128.750,2279.550049,underperform,0.001139,0.000655,NaN
36,2017-05-03,1.495,17.080,3.486,5.718,0.209,766747310400,850112310400,11.821,52896000000,...,None,326442000000,62.467,28648000000,147.060,2388.129883,underperform,0.001422,0.000476,NaN
37,2017-08-02,1.607,17.736,3.652,6.129,0.192,811663927920,901431927920,12.420,45408000000,...,None,337068000000,64.882,31573000000,157.140,2477.570068,underperform,0.000685,0.000375,NaN
38,2017-11-03,1.800,18.608,3.926,6.607,0.204,885668820000,981059820000,13.214,52579000000,...,None,367304000000,71.329,27831000000,172.500,2587.840088,underperform,0.000977,0.000445,NaN
39,2018-02-02,1.902,16.364,3.428,5.804,0.227,813719464810,908628464810,11.823,88293000000,...,None,398756000000,77.991,28022000000,160.370,2762.129883,underperform,-0.000703,0.000673,NaN

In [25]:
cmpny_list=[]
# cmpny_list.append(companies[0].tckr)
cmpny_list.append(companies[1].ticker)
cmpny_list

['ABT']

In [26]:




stck_fund_attr = ['ticker','datekey','DE','PE1','PS1','PB','NETMARGIN',
                                        'MARKETCAP',
                                        'EV',
                                        'EVEBITDA',
                                        'REVENUEUSD',
                                        'GP',
                                        'EBITDA',
                                        'NETINCCMNUSD',
                                        'EPSDIL',
                                        'DEBTUSD',
                                        'CURRENTRATIO',
                                        'BVPS',
                                        'NCFO',
                                        'DEPAMOR',
                                        'SBCOMP',
                                        'NCFI',
                                        'CAPEX',
                                        'NCFBUS',
                                        'NCFINV',
                                        'NCFF',
                                        'NCFDEBT',
                                        'NCFCOMMON',
                                        'NCFDIV',
                                        'NCFX',
                                        'NCF',
                                        'ROIC',
                                        'SPS',
                                        'PAYOUTRATIO',
                                        'ROA',
                                        'ROE',
                                        'ROS',
                                        'TANGIBLES',
                                        'TBVPS',
                                        'WORKINGCAPITAL',
                                        'price']
cmpny_financials_attr  = stck_fund_attr.copy()

cmpny_financials_attr.extend(['sp_price' ,'price_change' ,'sp_price_change' ,'diff' ,'status']) 
cmpny_financials_attr.insert(0,'id_cmpny')
# cmpny_financials_attr.append(['sp_price' ,'price_change' ,'sp_price_change' ,'diff' ,'status'])                                         
                  
cmpny_financials_attr = [x.lower() for x in cmpny_financials_attr]                                                       
                            
                            
                            
                            
                       

df_company_fundmntls = pd.DataFrame(columns=stck_fund_attr)
# df_overallFin = pd.DataFrame(columns=stck_fund_attr)

In [76]:
df_company_fundmntls = quandl.get_table('SHARADAR/SF1', qopts={"columns":stck_fund_attr}, ticker=['MMM'],dimension = 'ARQ')

In [28]:
conn.execute(CompanyFinancials.__table__.delete())
companies

[(1, '3M Company', 'St. Paul, Minnesota', 'MMM', 'Industrials'),
 (2, 'Abbott Laboratories', 'North Chicago, Illinois', 'ABT', 'Health Care'),
 (3, 'AbbVie Inc.', 'North Chicago, Illinois', 'ABBV', 'Health Care'),
 (4, 'Accenture plc', 'Dublin, Ireland', 'ACN', 'Information Technology'),
 (5, 'Activision Blizzard', 'Santa Monica, California', 'ATVI', 'Information Technology'),
 (6, 'Acuity Brands Inc', 'Atlanta, Georgia', 'AYI', 'Industrials'),
 (7, 'Adobe Systems Inc', 'San Jose, California', 'ADBE', 'Information Technology'),
 (8, 'Advanced Micro Devices Inc', 'Sunnyvale, California', 'AMD', 'Information Technology'),
 (9, 'Advance Auto Parts', 'Roanoke, Virginia', 'AAP', 'Consumer Discretionary'),
 (10, 'AES Corp', 'Arlington, Virginia', 'AES', 'Utilities'),
 (11, 'Aetna Inc', 'Hartford, Connecticut', 'AET', 'Health Care'),
 (12, 'Affiliated Managers Group Inc', 'Beverly, Massachusetts', 'AMG', 'Financials'),
 (13, 'AFLAC Inc', 'Columbus, Georgia', 'AFL', 'Financials'),
 (14, 'Agilent Technologies Inc', 'Santa Clara, California', 'A', 'Health Care'),
 (15, 'Air Products & Chemicals Inc', 'Allentown, Pennsylvania', 'APD', 'Materials'),
 (16, 'Akamai Technologies Inc', 'Cambridge, Massachusetts', 'AKAM', 'Information Technology'),
 (17, 'Alaska Air Group Inc', 'Seattle, Washington', 'ALK', 'Industrials'),
 (18, 'Albemarle Corp', 'Baton Rouge, Louisiana', 'ALB', 'Materials'),
 (19, 'Alexandria Real Estate Equities Inc', 'Pasadena, California', 'ARE', 'Real Estate'),
 (20, 'Alexion Pharmaceuticals', 'Cheshire, Connecticut', 'ALXN', 'Health Care'),
 (21, 'Align Technology', 'San Jose, California', 'ALGN', 'Health Care'),
 (22, 'Allegion', 'Dublin, Ireland', 'ALLE', 'Industrials'),
 (23, 'Allergan, Plc', 'Dublin, Ireland', 'AGN', 'Health Care'),
 (24, 'Alliance Data Systems', 'Plano, Texas', 'ADS', 'Information Technology'),
 (25, 'Alliant Energy Corp', 'Madison, Wisconsin', 'LNT', 'Utilities'),
 (26, 'Allstate Corp', 'Northfield Township, Illinois', 'ALL', 'Financials'),
 (27, 'Alphabet Inc Class A', 'Mountain View, California', 'GOOGL', 'Information Technology'),
 (28, 'Alphabet Inc Class C', 'Mountain View, California', 'GOOG', 'Information Technology'),
 (29, 'Altria Group Inc', 'Richmond, Virginia', 'MO', 'Consumer Staples'),
 (30, 'Amazon.com Inc.', 'Seattle, Washington', 'AMZN', 'Consumer Discretionary'),
 (31, 'Ameren Corp', 'St. Louis, Missouri', 'AEE', 'Utilities'),
 (32, 'American Airlines Group', 'Fort Worth, Texas', 'AAL', 'Industrials'),
 (33, 'American Electric Power', 'Columbus, Ohio', 'AEP', 'Utilities'),
 (34, 'American Express Co', 'New York, New York', 'AXP', 'Financials'),
 (35, 'American International Group, Inc.', 'New York, New York', 'AIG', 'Financials'),
 (36, 'American Tower Corp A', 'Boston, Massachusetts', 'AMT', 'Real Estate'),
 (37, 'American Water Works Company Inc', 'Voorhees, New Jersey', 'AWK', 'Utilities'),
 (38, 'Ameriprise Financial', 'Minneapolis, Minnesota', 'AMP', 'Financials'),
 (39, 'AmerisourceBergen Corp', 'Chesterbrook, Pennsylvania', 'ABC', 'Health Care'),
 (40, 'AMETEK Inc.', 'Berwyn, Pennsylvania', 'AME', 'Industrials'),
 (41, 'Amgen Inc.', 'Thousand Oaks, California', 'AMGN', 'Health Care'),
 (42, 'Amphenol Corp', 'Wallingford, Connecticut', 'APH', 'Information Technology'),
 (43, 'Anadarko Petroleum Corp', 'The Woodlands, Texas', 'APC', 'Energy'),
 (44, 'Analog Devices, Inc.', 'Norwood, Massachusetts', 'ADI', 'Information Technology'),
 (45, 'Andeavor', 'San Antonio, Texas', 'ANDV', 'Energy'),
 (46, 'ANSYS', 'Canonsburg, Pennsylvania', 'ANSS', 'Information Technology'),
 (47, 'Anthem Inc.', 'Indianapolis, Indiana', 'ANTM', 'Health Care'),
 (48, 'Aon plc', 'London, United Kingdom', 'AON', 'Financials'),
 (49, 'A.O. Smith Corp', 'Milwaukee, Wisconsin', 'AOS', 'Industrials'),
 (50, 'Apache Corporation', 'Houston, Texas', 'APA', 'Energy'),
 (51, 'Apartment Investment & Management', 'Denver, Colorado', 'AIV', 'Real Estate'),
 (52, 'Apple Inc.', 'Cupertino, California', 'AAPL', 'Information Technology'),
 (53, 'Applied Materials Inc.', 'Santa Clara, California', 'AMAT', 'Information Technology'),
 (54, 'Aptiv Plc', 'Gillingham, Kent, United Kingdom', 'APTV', 'Consumer Discretionary'),
 (55, 'Archer-Daniels-Midland Co', 'Decatur, Illinois', 'ADM', 'Consumer Staples'),
 (56, 'Arconic Inc.', 'New York, New York', 'ARNC', 'Industrials'),
 (57, 'Arthur J. Gallagher & Co.', 'Itasca, Illinois', 'AJG', 'Financials'),
 (58, 'Assurant Inc.', 'New York, New York', 'AIZ', 'Financials'),
 (59, 'AT&T Inc.', 'Dallas, Texas', 'T', 'Telecommunication Services'),
 (60, 'Autodesk Inc.', 'San Rafael, California', 'ADSK', 'Information Technology'),
 (61, 'Automatic Data Processing', 'Roseland, New Jersey', 'ADP', 'Information Technology'),
 (62, 'AutoZone Inc', 'Memphis, Tennessee', 'AZO', 'Consumer Discretionary'),
 (63, 'AvalonBay Communities, Inc.', 'Arlington, Virginia[3]', 'AVB', 'Real Estate'),
 (64, 'Avery Dennison Corp', 'Glendale, California', 'AVY', 'Materials'),
 (65, 'Baker Hughes, a GE Company', 'Houston, Texas', 'BHGE', 'Energy'),
 (66, 'Ball Corp', 'Broomfield, Colorado', 'BLL', 'Materials'),
 (67, 'Bank of America Corp', 'Charlotte, North Carolina', 'BAC', 'Financials'),
 (68, 'The Bank of New York Mellon Corp.', 'New York, New York', 'BK', 'Financials'),
 (69, 'Baxter International Inc.', 'Deerfield, Illinois', 'BAX', 'Health Care'),
 (70, 'BB&T Corporation', 'Winston-Salem, North Carolina', 'BBT', 'Financials'),
 (71, 'Becton Dickinson', 'Franklin Lakes, New Jersey', 'BDX', 'Health Care'),
 (72, 'Berkshire Hathaway', 'Omaha, Nebraska', 'BRK.B', 'Financials'),
 (73, 'Best Buy Co. Inc.', 'Richfield, Minnesota', 'BBY', 'Consumer Discretionary'),
 (74, 'Biogen Inc.', 'Weston, Massachusetts', 'BIIB', 'Health Care'),
 (75, 'BlackRock', 'New York, New York', 'BLK', 'Financials'),
 (76, 'Block H&R', 'Kansas City, Missouri', 'HRB', 'Financials'),
 (77, 'Boeing Company', 'Chicago, Illinois', 'BA', 'Industrials'),
 (78, 'Booking Holdings Inc', 'Norwalk, Connecticut', 'BKNG', 'Consumer Discretionary'),
 (79, 'BorgWarner', 'Auburn Hills, Michigan', 'BWA', 'Consumer Discretionary'),
 (80, 'Boston Properties', 'Boston, Massachusetts', 'BXP', 'Real Estate'),
 (81, 'Boston Scientific', 'Marlborough, Massachusetts[4]', 'BSX', 'Health Care'),
 (82, 'Brighthouse Financial Inc', 'Charlotte, North Carolina', 'BHF', 'Financials'),
 (83, 'Bristol-Myers Squibb', 'New York, New York', 'BMY', 'Health Care'),
 (84, 'Broadcom', 'San Jose, California', 'AVGO', 'Information Technology'),
 (85, 'Brown-Forman Corp.', 'Louisville, Kentucky', 'BF.B', 'Consumer Staples'),
 (86, 'C. H. Robinson Worldwide', 'Eden Prairie, Minnesota', 'CHRW', 'Industrials'),
 (87, 'CA, Inc.', 'Islandia, New York', 'CA', 'Information Technology'),
 (88, 'Cabot Oil & Gas', 'Houston, Texas', 'COG', 'Energy'),
 (89, 'Cadence Design Systems', 'San Jose, California', 'CDNS', 'Information Technology'),
 (90, 'Campbell Soup', 'Camden, New Jersey', 'CPB', 'Consumer Staples'),
 (91, 'Capital One Financial', 'Tysons Corner, Virginia', 'COF', 'Financials'),
 (92, 'Cardinal Health Inc.', 'Dublin, Ohio', 'CAH', 'Health Care'),
 (93, 'Carmax Inc', 'Richmond, Virginia', 'KMX', 'Consumer Discretionary'),
 (94, 'Carnival Corp.', 'Miami, Florida', 'CCL', 'Consumer Discretionary'),
 (95, 'Caterpillar Inc.', 'Peoria, Illinois', 'CAT', 'Industrials'),
 (96, 'Cboe Global Markets', 'Chicago, Illinois', 'CBOE', 'Financials'),
 (97, 'CBRE Group', 'Los Angeles, California', 'CBRE', 'Real Estate'),
 (98, 'CBS Corp.', 'New York, New York', 'CBS', 'Consumer Discretionary'),
 (99, 'Celgene Corp.', 'Summit, New Jersey', 'CELG', 'Health Care'),
 (100, 'Centene Corporation', 'St Louis, Missouri', 'CNC', 'Health Care'),
 (101, 'CenterPoint Energy', 'Houston, Texas', 'CNP', 'Utilities'),
 (102, 'CenturyLink Inc', 'Monroe, Louisiana', 'CTL', 'Telecommunication Services'),
 (103, 'Cerner', 'North Kansas City, Missouri', 'CERN', 'Health Care'),
 (104, 'CF Industries Holdings Inc', 'Deerfield, Illinois', 'CF', 'Materials'),
 (105, 'Charles Schwab Corporation', 'San Francisco, California', 'SCHW', 'Financials'),
 (106, 'Charter Communications', 'Stamford, Connecticut', 'CHTR', 'Consumer Discretionary'),
 (107, 'Chevron Corp.', 'San Ramon, California', 'CVX', 'Energy'),
 (108, 'Chipotle Mexican Grill', 'Denver, Colorado', 'CMG', 'Consumer Discretionary'),
 (109, 'Chubb Limited', 'Zurich, Switzerland', 'CB', 'Financials'),
 (110, 'Church & Dwight', 'Ewing, New Jersey', 'CHD', 'Consumer Staples'),
 (111, 'CIGNA Corp.', 'Philadelphia, Pennsylvania', 'CI', 'Health Care'),
 (112, 'Cimarex Energy', 'Denver, Colorado', 'XEC', 'Energy'),
 (113, 'Cincinnati Financial', 'Fairfield, Ohio', 'CINF', 'Financials'),
 (114, 'Cintas Corporation', 'Mason, Ohio', 'CTAS', 'Industrials'),
 (115, 'Cisco Systems', 'San Jose, California', 'CSCO', 'Information Technology'),
 (116, 'Citigroup Inc.', 'New York, New York', 'C', 'Financials'),
 (117, 'Citizens Financial Group', 'Providence, Rhode Island', 'CFG', 'Financials'),
 (118, 'Citrix Systems', 'Fort Lauderdale, Florida', 'CTXS', 'Information Technology'),
 (119, 'The Clorox Company', 'Oakland, California', 'CLX', 'Consumer Staples'),
 (120, 'CME Group Inc.', 'Chicago, Illinois', 'CME', 'Financials'),
 (121, 'CMS Energy', 'Jackson, Michigan', 'CMS', 'Utilities'),
 (122, 'Coca-Cola Company (The)', 'Atlanta, Georgia', 'KO', 'Consumer Staples'),
 (123, 'Cognizant Technology Solutions', 'Teaneck, New Jersey', 'CTSH', 'Information Technology'),
 (124, 'Colgate-Palmolive', 'New York, New York', 'CL', 'Consumer Staples'),
 (125, 'Comcast Corp.', 'Philadelphia, Pennsylvania', 'CMCSA', 'Consumer Discretionary'),
 (126, 'Comerica Inc.', 'Dallas, Texas', 'CMA', 'Financials'),
 (127, 'Conagra Brands', 'Chicago, Illinois', 'CAG', 'Consumer Staples'),
 (128, 'Concho Resources', 'Midland, Texas', 'CXO', 'Energy'),
 (129, 'ConocoPhillips', 'Houston, Texas', 'COP', 'Energy'),
 (130, 'Consolidated Edison', 'New York, New York', 'ED', 'Utilities'),
 (131, 'Constellation Brands', 'Victor, New York', 'STZ', 'Consumer Staples'),
 (132, 'The Cooper Companies', 'Pleasanton, California', 'COO', 'Health Care'),
 (133, 'Corning Inc.', 'Corning, New York', 'GLW', 'Information Technology'),
 (134, 'Costco Wholesale Corp.', 'Issaquah, Washington', 'COST', 'Consumer Staples'),
 (135, 'Coty, Inc', 'New York, New York', 'COTY', 'Consumer Staples'),
 (136, 'Crown Castle International Corp.', 'Houston, Texas', 'CCI', 'Real Estate'),
 (137, 'CSRA Inc.', 'Falls Church, Virginia', 'CSRA', 'Information Technology'),
 (138, 'CSX Corp.', 'Jacksonville, Florida', 'CSX', 'Industrials'),
 (139, 'Cummins Inc.', 'Columbus, Indiana', 'CMI', 'Industrials'),
 (140, 'CVS Health', 'Woonsocket, Rhode Island', 'CVS', 'Consumer Staples'),
 (141, 'D. R. Horton', 'Fort Worth, Texas', 'DHI', 'Consumer Discretionary'),
 (142, 'Danaher Corp.', 'Washington, D.C.', 'DHR', 'Health Care'),
 (143, 'Darden Restaurants', 'Orlando, Florida', 'DRI', 'Consumer Discretionary'),
 (144, 'DaVita Inc.', 'Denver, Colorado', 'DVA', 'Health Care'),
 (145, 'Deere & Co.', 'Moline, Illinois', 'DE', 'Industrials'),
 (146, 'Delta Air Lines Inc.', 'Atlanta, Georgia', 'DAL', 'Industrials'),
 (147, 'Dentsply Sirona', 'York, Pennsylvania', 'XRAY', 'Health Care'),
 (148, 'Devon Energy Corp.', 'Oklahoma City, Oklahoma', 'DVN', 'Energy'),
 (149, 'Digital Realty Trust Inc', 'San Francisco, California', 'DLR', 'Real Estate'),
 (150, 'Discover Financial Services', 'Riverwoods, Illinois', 'DFS', 'Financials'),
 (151, 'Discovery Inc. Class A', 'Silver Spring, Maryland', 'DISCA', 'Consumer Discretionary'),
 (152, 'Discovery Inc. Class C', 'Silver Spring, Maryland', 'DISCK', 'Consumer Discretionary'),
 (153, 'Dish Network', 'Meridian, Colorado', 'DISH', 'Consumer Discretionary'),
 (154, 'Dollar General', 'Goodlettsville, Tennessee', 'DG', 'Consumer Discretionary'),
 (155, 'Dollar Tree', 'Chesapeake, Virginia', 'DLTR', 'Consumer Discretionary'),
 (156, 'Dominion Energy', 'Richmond, Virginia', 'D', 'Utilities'),
 (157, 'Dover Corp.', 'Downers Grove, Illinois', 'DOV', 'Industrials'),
 (158, 'DowDuPont', 'Midland, Michigan', 'DWDP', 'Materials'),
 (159, 'Dr Pepper Snapple Group', 'Plano, Texas', 'DPS', 'Consumer Staples'),
 (160, 'DTE Energy Co.', 'Detroit, Michigan', 'DTE', 'Utilities'),
 (161, 'Duke Realty Corp', 'Indianapolis, Indiana', 'DRE', 'Real Estate'),
 (162, 'Duke Energy', 'Charlotte, North Carolina', 'DUK', 'Utilities'),
 (163, 'DXC Technology', 'Tysons Corner, Virginia', 'DXC', 'Information Technology'),
 (164, 'E*Trade', 'New York, New York', 'ETFC', 'Financials'),
 (165, 'Eastman Chemical', 'Kingsport, Tennessee', 'EMN', 'Materials'),
 (166, 'Eaton Corporation', 'Dublin, Ireland', 'ETN', 'Industrials'),
 (167, 'eBay Inc.', 'San Jose, California', 'EBAY', 'Information Technology'),
 (168, 'Ecolab Inc.', 'St. Paul, Minnesota', 'ECL', 'Materials'),
 (169, "Edison Int'l", 'Rosemead, California', 'EIX', 'Utilities'),
 (170, 'Edwards Lifesciences', 'Irvine, California', 'EW', 'Health Care'),
 (171, 'Electronic Arts', 'Redwood City, California', 'EA', 'Information Technology'),
 (172, 'Emerson Electric Company', 'Ferguson, Missouri', 'EMR', 'Industrials'),
 (173, 'Entergy Corp.', 'New Orleans, Louisiana', 'ETR', 'Utilities'),
 (174, 'Envision Healthcare', 'Nashville, Tennessee', 'EVHC', 'Health Care'),
 (175, 'EOG Resources', 'Houston, Texas', 'EOG', 'Energy'),
 (176, 'EQT Corporation', 'Pittsburgh, Pennsylvania', 'EQT', 'Energy'),
 (177, 'Equifax Inc.', 'Atlanta, Georgia', 'EFX', 'Industrials'),
 (178, 'Equinix', 'Redwood City, California', 'EQIX', 'Real Estate'),
 (179, 'Equity Residential', 'Chicago, Illinois', 'EQR', 'Real Estate'),
 (180, 'Essex Property Trust, Inc.', 'Palo Alto, California', 'ESS', 'Real Estate'),
 (181, 'Estee Lauder Cos.', 'New York, New York', 'EL', 'Consumer Staples'),
 (182, 'Eversource Energy', 'Springfield, Massachusetts', 'ES', 'Utilities'),
 (183, 'Everest Re Group Ltd.', 'Hamilton, Bermuda', 'RE', 'Financials'),
 (184, 'Exelon Corp.', 'Chicago, Illinois', 'EXC', 'Utilities'),
 (185, 'Expedia Inc.', 'Bellevue, Washington', 'EXPE', 'Consumer Discretionary'),
 (186, 'Expeditors International', 'Seattle, Washington', 'EXPD', 'Industrials'),
 (187, 'Express Scripts', 'Cool Valley, Missouri', 'ESRX', 'Health Care'),
 (188, 'Extra Space Storage', 'Salt Lake City, Utah', 'EXR', 'Real Estate'),
 (189, 'Exxon Mobil Corp.', 'Irving, Texas', 'XOM', 'Energy'),
 (190, 'F5 Networks', 'Seattle, Washington', 'FFIV', 'Information Technology'),
 (191, 'Facebook, Inc.', 'Menlo Park, California', 'FB', 'Information Technology'),
 (192, 'Fastenal Co', 'Winona, Minnesota', 'FAST', 'Industrials'),
 (193, 'Federal Realty Investment Trust', 'Rockville, Maryland', 'FRT', 'Real Estate'),
 (194, 'FedEx Corporation', 'Memphis, Tennessee', 'FDX', 'Industrials'),
 (195, 'Fidelity National Information Services', 'Jacksonville, Florida', 'FIS', 'Information Technology'),
 (196, 'Fifth Third Bancorp', 'Cincinnati, Ohio', 'FITB', 'Financials'),
 (197, 'FirstEnergy Corp', 'Akron, Ohio', 'FE', 'Utilities'),
 (198, 'Fiserv Inc', 'Brookfield, Wisconsin', 'FISV', 'Information Technology'),
 (199, 'FLIR Systems', 'Wilsonville, Oregon', 'FLIR', 'Information Technology'),
 (200, 'Flowserve Corporation', 'Irving, Texas', 'FLS', 'Industrials'),
 (201, 'Fluor Corp.', 'Irving, Texas', 'FLR', 'Industrials'),
 (202, 'FMC Corporation', 'Philadelphia, Pennsylvania', 'FMC', 'Materials'),
 (203, 'Foot Locker Inc', 'New York, New York', 'FL', 'Consumer Discretionary'),
 (204, 'Ford Motor', 'Dearborn, Michigan', 'F', 'Consumer Discretionary'),
 (205, 'Fortive Corp', 'Everett, Washington', 'FTV', 'Industrials'),
 (206, 'Fortune Brands Home & Security', 'Deerfield, Illinois', 'FBHS', 'Industrials'),
 (207, 'Franklin Resources', 'San Mateo, California', 'BEN', 'Financials'),
 (208, 'Freeport-McMoRan Inc.', 'Phoenix, Arizona', 'FCX', 'Materials'),
 (209, 'Gap Inc.', 'San Francisco, California', 'GPS', 'Consumer Discretionary'),
 (210, 'Garmin Ltd.', 'Schaffhausen, Switzerland', 'GRMN', 'Consumer Discretionary'),
 (211, 'Gartner Inc', 'Stamford, Connecticut', 'IT', 'Information Technology'),
 (212, 'General Dynamics', 'Falls Church, Virginia', 'GD', 'Industrials'),
 (213, 'General Electric', 'Boston, Massachusetts', 'GE', 'Industrials'),
 (214, 'General Growth Properties Inc.', 'Chicago, Illinois', 'GGP', 'Real Estate'),
 (215, 'General Mills', 'Golden Valley, Minnesota', 'GIS', 'Consumer Staples'),
 (216, 'General Motors', 'Detroit, Michigan', 'GM', 'Consumer Discretionary'),
 (217, 'Genuine Parts', 'Atlanta, Georgia', 'GPC', 'Consumer Discretionary'),
 (218, 'Gilead Sciences', 'Foster City, California', 'GILD', 'Health Care'),
 (219, 'Global Payments Inc.', 'Atlanta, Georgia', 'GPN', 'Information Technology'),
 (220, 'Goldman Sachs Group', 'New York, New York', 'GS', 'Financials'),
 (221, 'Goodyear Tire & Rubber', 'Akron, Ohio', 'GT', 'Consumer Discretionary'),
 (222, 'Grainger (W.W.) Inc.', 'Lake Forest, Illinois', 'GWW', 'Industrials'),
 (223, 'Halliburton Co.', 'Houston, Texas', 'HAL', 'Energy'),
 (224, 'Hanesbrands Inc', 'Winston-Salem, North Carolina', 'HBI', 'Consumer Discretionary'),
 (225, 'Harley-Davidson', 'Milwaukee, Wisconsin', 'HOG', 'Consumer Discretionary'),
 (226, 'Harris Corporation', 'Melbourne, Florida', 'HRS', 'Information Technology'),
 (227, 'Hartford Financial Svc.Gp.', 'Hartford, Connecticut', 'HIG', 'Financials'),
 (228, 'Hasbro Inc.', 'Pawtucket, Rhode Island', 'HAS', 'Consumer Discretionary'),
 (229, 'HCA Holdings', 'Nashville, Tennessee', 'HCA', 'Health Care'),
 (230, 'HCP Inc.', 'Long Beach, California', 'HCP', 'Real Estate'),
 (231, 'Helmerich & Payne', 'Tulsa, Oklahoma[5]', 'HP', 'Energy'),
 (232, 'Henry Schein', 'Melville, New York', 'HSIC', 'Health Care'),
 (233, 'The Hershey Company', 'Hershey, Pennsylvania', 'HSY', 'Consumer Staples'),
 (234, 'Hess Corporation', 'New York, New York', 'HES', 'Energy'),
 (235, 'Hewlett Packard Enterprise', 'Palo Alto, California', 'HPE', 'Information Technology'),
 (236, 'Hilton Worldwide Holdings Inc', 'Tysons Corner, Virginia', 'HLT', 'Consumer Discretionary'),
 (237, 'Hologic', 'Marlborough, Massachusetts', 'HOLX', 'Health Care'),
 (238, 'Home Depot', 'Atlanta, Georgia', 'HD', 'Consumer Discretionary'),
 (239, "Honeywell Int'l Inc.", 'Morristown, New Jersey', 'HON', 'Industrials'),
 (240, 'Hormel Foods Corp.', 'Austin, Minnesota', 'HRL', 'Consumer Staples'),
 (241, 'Host Hotels & Resorts', 'Bethesda, Maryland', 'HST', 'Real Estate'),
 (242, 'HP Inc.', 'Palo Alto, California', 'HPQ', 'Information Technology'),
 (243, 'Humana Inc.', 'Louisville, Kentucky', 'HUM', 'Health Care'),
 (244, 'Huntington Bancshares', 'Columbus, Ohio', 'HBAN', 'Financials'),
 (245, 'Huntington Ingalls Industries', 'Newport News, Virginia', 'HII', 'Industrials'),
 (246, 'IDEXX Laboratories', 'Westbrook, Maine', 'IDXX', 'Health Care'),
 (247, 'IHS Markit Ltd.', 'London, United Kingdom', 'INFO', 'Industrials'),
 (248, 'Illinois Tool Works', 'Glenview, Illinois', 'ITW', 'Industrials'),
 (249, 'Illumina Inc', 'San Diego, California', 'ILMN', 'Health Care'),
 (250, 'Ingersoll-Rand PLC', 'Dublin, Ireland', 'IR', 'Industrials'),
 (251, 'Intel Corp.', 'Santa Clara, California', 'INTC', 'Information Technology'),
 (252, 'Intercontinental Exchange', 'Atlanta, Georgia', 'ICE', 'Financials'),
 (253, 'International Business Machines', 'Armonk, New York', 'IBM', 'Information Technology'),
 (254, 'Incyte', 'Wilmington, Delaware', 'INCY', 'Health Care'),
 (255, 'International Paper', 'Memphis, Tennessee', 'IP', 'Materials'),
 (256, 'Interpublic Group', 'New York, New York', 'IPG', 'Consumer Discretionary'),
 (257, 'Intl Flavors & Fragrances', 'New York, New York', 'IFF', 'Materials'),
 (258, 'Intuit Inc.', 'Mountain View, California', 'INTU', 'Information Technology'),
 (259, 'Intuitive Surgical Inc.', 'Sunnyvale, California', 'ISRG', 'Health Care'),
 (260, 'Invesco Ltd.', 'Atlanta, Georgia', 'IVZ', 'Financials'),

In [29]:

for company in companies:
    try:
        
          print("starting " + company.ticker)

          df_company_fundmntls = quandl.get_table('SHARADAR/SF1', qopts={"columns":stck_fund_attr}, ticker=[company.ticker],dimension = 'ARQ')
        
          df_company_fundmntls.fillna(0.0)
    
          df_company_fundmntls = df_company_fundmntls.sort_values(by=['datekey'])
          df_company_fundmntls["sp_price"] = 0.0
          df_company_fundmntls["price_change"] = 0.0
          df_company_fundmntls["sp_price_change"] = 0.0
          df_company_fundmntls["diff"] = 0.0
          df_company_fundmntls["status"] = "underperform"
            

    
          stock_start_value = 0.0
          sp_start_value = 0.0
          diff = 0
        

         
          
          for index,row in df_company_fundmntls.iterrows():
             
              

              try:
                   check_sp_date_exists = sp_test[(sp_test.datekey == row["datekey"])]
                   df_company_fundmntls.set_value(index,"sp_price",check_sp_date_exists["sp_price"])

              except ValueError:
                   rpt_dt = row["datekey"]
                   print(rpt_dt)
                   rpt_dt = rpt_dt - dateutil.relativedelta.relativedelta(days=4)
                   print(rpt_dt)
                   check_sp_date_exists = sp_test[(sp_test.datekey == rpt_dt)]
                   df_company_fundmntls.set_value(index,"sp_price",check_sp_date_exists["sp_price"])
                  

    
              if diff > 0:
                    status = "outperform"
              else:
                    status = "underperform"
                    
              if (index != 0):

                  if (stock_start_value > 0):
                      df_company_fundmntls.set_value(index,"price_change",(((row["price"] - stock_start_value) / stock_start_value)/100))

                  if (sp_start_value > 0.0):

                      df_company_fundmntls.set_value(index,"sp_price_change" ,(((check_sp_date_exists["sp_price"] - sp_start_value) / sp_start_value)/100))
                  diff = (df_company_fundmntls.get_value(index,"price_change") - df_company_fundmntls.get_value(index,"sp_price_change"))
                  df_company_fundmntls.set_value(index,"diff", diff)

                    
            
              df_company_fundmntls.set_value(index,"status", status)   
              stock_start_value = row["price"]

              sp_start_value = df_company_fundmntls.get_value(index,"sp_price")

              
              
            
          print("ending" + company.ticker)
#           df_company_fundmntls.fillna(0.0)
          data = df_company_fundmntls.reset_index()
          data["id_cmpny"] = company.id_cmpny
          data = data[cmpny_financials_attr]
          data['datekey'] = data['datekey'].astype('str')
          data = data.to_dict(orient='records')
        
          conn.execute(CompanyFinancials.__table__.insert(),data)
    except quandl.NotFoundError as e:
#         nf_dict["id_cmpny"] = company.id_cmpny
#         nf_dict["tckr"] = company.tckr 
#         nf_list.append(nf_dict)
        print(company.tckr + " not found ")
        pass
        
    except Exception as e :
        print("Unexpected error:", sys.exc_info()[0])
        pass

starting MMM

/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:33: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:63: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:66: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:53: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:57: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:58: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:59: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

endingMMM
starting ABT
endingABT
starting ABBV
endingABBV
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ACN
2012-10-30 00:00:00
2012-10-26 00:00:00
endingACN
starting ATVI

/Users/jijijacob/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:41: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

endingATVI
starting AYI
endingAYI
starting ADBE
endingADBE
starting AMD
endingAMD
starting AAP
endingAAP
starting AES
endingAES
starting AET
endingAET
starting AMG
endingAMG
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting AFL
endingAFL
starting A
endingA
starting APD
endingAPD
starting AKAM
endingAKAM
starting ALK
endingALK
starting ALB
endingALB
starting ARE
endingARE
starting ALXN
2012-10-29 00:00:00
2012-10-25 00:00:00
endingALXN
starting ALGN
endingALGN
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ALLE
endingALLE
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting AGN
endingAGN
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ADS
endingADS
starting LNT
endingLNT
starting ALL
endingALL
starting GOOGL
2012-10-30 00:00:00
2012-10-26 00:00:00
endingGOOGL
starting GOOG
endingGOOG
starting MO
2012-10-30 00:00:00
2012-10-26 00:00:00
endingMO
starting AMZN
endingAMZN
starting AEE
endingAEE
starting AAL
endingAAL
starting AEP
endingAEP
starting AXP
endingAXP
starting AIG
endingAIG
starting AMT
endingAMT
starting AWK
endingAWK
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting AMP
endingAMP
starting ABC
endingABC
starting AME
endingAME
starting AMGN
endingAMGN
starting APH
endingAPH
starting APC
2012-10-29 00:00:00
2012-10-25 00:00:00
endingAPC
starting ADI
endingADI
starting ANDV
endingANDV
starting ANSS
endingANSS
starting ANTM
endingANTM
starting AON
endingAON
starting AOS
endingAOS
starting APA
endingAPA
starting AIV
endingAIV
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting AAPL
endingAAPL
starting AMAT
endingAMAT
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting APTV
endingAPTV
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ADM
endingADM
starting ARNC
endingARNC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting AJG
endingAJG
starting AIZ
2012-10-29 00:00:00
2012-10-25 00:00:00
endingAIZ
starting T
endingT
starting ADSK
endingADSK
starting ADP
endingADP
starting AZO
endingAZO
starting AVB
endingAVB
starting AVY
endingAVY
starting BHGE
endingBHGE
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BLL
endingBLL
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BAC
endingBAC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BK
endingBK
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BAX
endingBAX
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BBT
endingBBT
starting BDX
endingBDX
starting BRK.B
endingBRK.B
starting BBY
2018-04-02 00:00:00
2018-03-29 00:00:00
endingBBY
starting BIIB
endingBIIB
starting BLK
endingBLK
starting HRB
endingHRB
starting BA
endingBA
starting BKNG
endingBKNG
starting BWA
endingBWA
starting BXP
endingBXP
starting BSX
endingBSX
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BHF
endingBHF
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BMY
endingBMY
starting AVGO
endingAVGO
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BF.B
endingBF.B
starting CHRW
endingCHRW
starting CA
endingCA
starting COG
endingCOG
starting CDNS
endingCDNS
starting CPB
endingCPB
starting COF
endingCOF
starting CAH
endingCAH
starting KMX
endingKMX
starting CCL
endingCCL
starting CAT
endingCAT
starting CBOE
endingCBOE
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting CBRE
endingCBRE
starting CBS
endingCBS
starting CELG
2012-10-29 00:00:00
2012-10-25 00:00:00
endingCELG
starting CNC
endingCNC
starting CNP
endingCNP
starting CTL
endingCTL
starting CERN
endingCERN
starting CF
endingCF
starting SCHW
endingSCHW
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting CHTR
endingCHTR
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting CVX
endingCVX
starting CMG
endingCMG
starting CB
endingCB
starting CHD
endingCHD
starting CI
endingCI
starting XEC
endingXEC
starting CINF
endingCINF
starting CTAS
endingCTAS
starting CSCO
endingCSCO
starting C
endingC
starting CFG
endingCFG
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting CTXS
endingCTXS
starting CLX
endingCLX
starting CME
endingCME
starting CMS
endingCMS
starting KO
endingKO
starting CTSH
endingCTSH
starting CL
endingCL
starting CMCSA
endingCMCSA
starting CMA
2012-10-30 00:00:00
2012-10-26 00:00:00
endingCMA
starting CAG
2010-04-02 00:00:00
2010-03-29 00:00:00
endingCAG
starting CXO
endingCXO
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting COP
2012-10-30 00:00:00
2012-10-26 00:00:00
endingCOP
starting ED
endingED
starting STZ
endingSTZ
starting COO
endingCOO
starting GLW
endingGLW
starting COST
endingCOST
starting COTY
endingCOTY
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting CCI
endingCCI
starting CSRA
endingCSRA
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting CSX
endingCSX
starting CMI
endingCMI
starting CVS
endingCVS
starting DHI
endingDHI
starting DHR
endingDHR
starting DRI
2010-04-02 00:00:00
2010-03-29 00:00:00
endingDRI
starting DVA
endingDVA
starting DE
endingDE
starting DAL
endingDAL
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting XRAY
endingXRAY
starting DVN
endingDVN
starting DLR
endingDLR
starting DFS
endingDFS
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting DISCA
endingDISCA
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting DISCK
endingDISCK
starting DISH
endingDISH
starting DG
endingDG
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting DLTR
endingDLTR
starting D
endingD
starting DOV
endingDOV
starting DWDP
2012-10-30 00:00:00
2012-10-26 00:00:00
endingDWDP
starting DPS
endingDPS
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting DTE
endingDTE
starting DRE
endingDRE
starting DUK
endingDUK
starting DXC
endingDXC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ETFC
endingETFC
starting EMN
endingEMN
starting ETN
endingETN
starting EBAY
endingEBAY
starting ECL
2012-10-30 00:00:00
2012-10-26 00:00:00
endingECL
starting EIX
endingEIX
starting EW
endingEW
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting EA
endingEA
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting EMR
endingEMR
starting ETR
endingETR
starting EVHC
endingEVHC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting EOG
endingEOG
starting EQT
endingEQT
starting EFX
endingEFX
starting EQIX
endingEQIX
starting EQR
endingEQR
starting ESS
endingESS
starting EL
endingEL
starting ES
endingES
starting RE
endingRE
starting EXC
endingEXC
starting EXPE
endingEXPE
starting EXPD
endingEXPD
starting ESRX
endingESRX
starting EXR
endingEXR
starting XOM
endingXOM
starting FFIV
endingFFIV
starting FB
endingFB
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting FAST
endingFAST
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting FRT
endingFRT
starting FDX
endingFDX
starting FIS
endingFIS
starting FITB
endingFITB
starting FE
endingFE
starting FISV
endingFISV
starting FLIR
endingFLIR
starting FLS
2012-10-29 00:00:00
2012-10-25 00:00:00
endingFLS
starting FLR
endingFLR
starting FMC
endingFMC
starting FL
endingFL
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting F
endingF
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting FTV
endingFTV
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting FBHS
endingFBHS
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting BEN
endingBEN
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting FCX
endingFCX
starting GPS
endingGPS
starting GRMN
endingGRMN
starting IT
endingIT
starting GD
2012-10-30 00:00:00
2012-10-26 00:00:00
endingGD
starting GE
endingGE
starting GGP
endingGGP
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting GIS
endingGIS
starting GM
endingGM
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting GPC
endingGPC
starting GILD
endingGILD
starting GPN
endingGPN
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting GS
endingGS
starting GT
endingGT
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting GWW
endingGWW
starting HAL
2011-04-22 00:00:00
2011-04-18 00:00:00
endingHAL
starting HBI

endingHBI
starting HOG
endingHOG
starting HRS
endingHRS
starting HIG
endingHIG
starting HAS
endingHAS
starting HCA
endingHCA
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting HCP
2012-10-30 00:00:00
2012-10-26 00:00:00
endingHCP
starting HP
endingHP
starting HSIC
endingHSIC
starting HSY
endingHSY
starting HES
endingHES
starting HPE
endingHPE
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting HLT
endingHLT
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting HOLX
endingHOLX
starting HD
endingHD
starting HON
endingHON
starting HRL
endingHRL
starting HST
endingHST
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting HPQ
endingHPQ
starting HUM
endingHUM
starting HBAN
endingHBAN
starting HII
endingHII
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting IDXX
endingIDXX
starting INFO
endingINFO
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ITW
endingITW
starting ILMN
2012-10-29 00:00:00
2012-10-25 00:00:00
endingILMN
starting IR
endingIR
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting INTC
endingINTC
starting ICE
endingICE
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting IBM
2012-10-30 00:00:00
2012-10-26 00:00:00
endingIBM
starting INCY
endingINCY
starting IP
endingIP
starting IPG
endingIPG
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting IFF
endingIFF
starting INTU
endingINTU
starting ISRG
endingISRG
starting IVZ
endingIVZ
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting IPGP
endingIPGP
starting IQV
endingIQV
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting IRM
endingIRM
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting JEC
endingJEC
starting JBHT
endingJBHT
starting SJM
endingSJM
starting JNJ
endingJNJ
starting JCI
endingJCI
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting JPM
endingJPM
starting JNPR
endingJNPR
starting KSU
endingKSU
starting K
endingK
starting KEY
endingKEY
starting KMB
endingKMB
starting KIM
endingKIM
starting KMI
endingKMI
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting KLAC
endingKLAC
starting KSS
endingKSS
starting KHC
endingKHC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting KR
endingKR
starting LB
endingLB
starting LLL
endingLLL
starting LH
2012-10-30 00:00:00
2012-10-26 00:00:00
endingLH
starting LRCX
endingLRCX
starting LEG
endingLEG
starting LEN
2015-04-03 00:00:00
2015-03-30 00:00:00
endingLEN
starting LUK
endingLUK
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting LLY
endingLLY
starting LNC
endingLNC
starting LKQ
endingLKQ
starting LMT
endingLMT
starting L
2012-10-30 00:00:00
2012-10-26 00:00:00
endingL
starting LOW
2018-04-02 00:00:00
2018-03-29 00:00:00
endingLOW
starting LYB
endingLYB
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MTB
endingMTB
starting MAC
endingMAC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting M
endingM
starting MRO
endingMRO
starting MPC
endingMPC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MAR
2011-04-22 00:00:00
2011-04-18 00:00:00
endingMAR
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MMC
endingMMC
starting MLM
endingMLM
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MAS
endingMAS
starting MA
endingMA
starting MAT
endingMAT
starting MKC
endingMKC
starting MCD
endingMCD
starting MCK
endingMCK
starting MDT
endingMDT
starting MRK
endingMRK
starting MET
endingMET
starting MTD
endingMTD
starting MGM
endingMGM
starting KORS
endingKORS
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MCHP
endingMCHP
starting MU
2012-10-29 00:00:00
2012-10-25 00:00:00
endingMU
starting MSFT
endingMSFT
starting MAA
endingMAA
starting MHK
endingMHK
starting TAP
endingTAP
starting MDLZ
endingMDLZ
starting MON
endingMON
starting MNST
endingMNST
starting MCO
endingMCO
starting MS
endingMS
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MOS
endingMOS
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MSI
endingMSI
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting MYL
endingMYL
starting NDAQ
endingNDAQ
starting NOV
endingNOV
starting NAVI
endingNAVI
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting NKTR
endingNKTR
starting NTAP
endingNTAP
starting NFLX
2012-10-30 00:00:00
2012-10-26 00:00:00
endingNFLX
starting NWL
endingNWL
starting NFX
2012-10-29 00:00:00
2012-10-25 00:00:00
endingNFX
starting NEM
endingNEM
starting NWSA
endingNWSA
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting NWS
endingNWS
starting NEE
endingNEE
starting NLSN
endingNLSN
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting NKE
2012-04-06 00:00:00
2012-04-02 00:00:00
endingNKE
starting NI
endingNI
starting NBL
endingNBL
starting JWN
endingJWN
starting NSC
endingNSC
starting NTRS
endingNTRS
starting NOC
endingNOC
starting NCLH
endingNCLH
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting NRG
endingNRG
starting NUE
endingNUE
starting NVDA
endingNVDA
starting ORLY
endingORLY
starting OXY
endingOXY
starting OMC
endingOMC
starting OKE
endingOKE
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ORCL
endingORCL
starting PCAR
endingPCAR
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PKG
endingPKG
starting PH
endingPH
starting PAYX
endingPAYX
starting PYPL
endingPYPL
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PNR
endingPNR
starting PBCT
endingPBCT
starting PEP
endingPEP
starting PKI
endingPKI
starting PRGO
endingPRGO
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PFE
endingPFE
starting PCG
2012-10-29 00:00:00
2012-10-25 00:00:00
endingPCG
starting PM
endingPM
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PSX
endingPSX
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PNW
endingPNW
starting PXD
endingPXD
starting PNC
endingPNC
starting RL
endingRL
starting PPG
2012-10-29 00:00:00
2012-10-25 00:00:00
endingPPG
starting PPL
endingPPL
starting PX
endingPX
starting PFG
endingPFG
starting PG
endingPG
starting PGR
endingPGR
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PLD
endingPLD
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PRU
endingPRU
starting PEG
endingPEG
starting PSA
endingPSA
starting PHM
endingPHM
starting PVH
2016-03-25 00:00:00
2016-03-21 00:00:00
2018-03-30 00:00:00
2018-03-26 00:00:00
endingPVH
starting QRVO
endingQRVO
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting PWR
endingPWR
starting QCOM
endingQCOM
starting DGX
endingDGX
starting RRC
endingRRC
starting RJF
endingRJF
starting RTN
endingRTN
starting O
endingO
starting RHT
endingRHT
starting REG
endingREG
starting REGN
endingREGN
starting RF
endingRF
starting RSG
endingRSG
starting RMD
endingRMD
starting RHI
endingRHI
starting ROK
endingROK
starting COL
endingCOL
starting ROP
endingROP
starting ROST
endingROST
starting RCL
endingRCL
starting CRM
endingCRM
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting SBAC
endingSBAC
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting SCG
endingSCG
starting SLB
endingSLB
starting STX
endingSTX
starting SEE
endingSEE
starting SRE
endingSRE
starting SHW
endingSHW
starting SPG
endingSPG
starting SWKS
endingSWKS
starting SLG
endingSLG
starting SNA
endingSNA
starting SO
endingSO
starting LUV
endingLUV
starting SPGI
endingSPGI
starting SWK
2012-10-29 00:00:00
2012-10-25 00:00:00
endingSWK
starting SBUX
endingSBUX
starting STT
endingSTT
starting SRCL
endingSRCL
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting SYK
endingSYK
starting STI
endingSTI
starting SIVB
endingSIVB
starting SYMC
2012-10-30 00:00:00
2012-10-26 00:00:00
endingSYMC
starting SYF
endingSYF
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting SNPS
endingSNPS
starting SYY
endingSYY
starting TROW
endingTROW
starting TTWO
endingTTWO
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting TPR
endingTPR
starting TGT
endingTGT
starting TEL
endingTEL
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting FTI

2018-04-02 00:00:00
2018-03-29 00:00:00
endingFTI
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting TXN
endingTXN
starting TXT
endingTXT
starting TMO
endingTMO
starting TIF
endingTIF
starting TWX
endingTWX
starting TJX
endingTJX
starting TMK
endingTMK
starting TSS
endingTSS
starting TSCO
endingTSCO
starting TDG
endingTDG
starting TRV
endingTRV
starting TRIP
endingTRIP
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting FOXA
endingFOXA
starting FOX
endingFOX
starting TSN
endingTSN
starting UDR
endingUDR
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting ULTA
endingULTA
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting USB
endingUSB
starting UAA
endingUAA
starting UA
endingUA
starting UNP
endingUNP
starting UAL
endingUAL
starting UNH
2012-10-30 00:00:00
2012-10-26 00:00:00
endingUNH
starting UPS
endingUPS
starting URI
endingURI
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting UTX
endingUTX
starting UHS
endingUHS
starting UNM
endingUNM
starting VFC
endingVFC
starting VLO
endingVLO
starting VAR
endingVAR
starting VTR
endingVTR
starting VRSN
endingVRSN
starting VRSK
2012-10-30 00:00:00
2012-10-26 00:00:00
endingVRSK
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting VZ
endingVZ
starting VRTX
endingVRTX
starting VIAB
endingVIAB
starting V
endingV
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting VNO
endingVNO
starting VMC
endingVMC
starting WMT
2018-03-30 00:00:00
2018-03-26 00:00:00
endingWMT
starting WBA
endingWBA
starting DIS
endingDIS
starting WM
endingWM
starting WAT
endingWAT
starting WEC
endingWEC
starting WFC
endingWFC
starting WELL
endingWELL
starting WDC
endingWDC
starting WU
endingWU
starting WRK
endingWRK
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting WY
endingWY
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting WHR
endingWHR
starting WMB
endingWMB
starting WLTW
endingWLTW
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting WYN
endingWYN
starting WYNN
endingWYNN
starting XEL
endingXEL
starting XRX
endingXRX
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting XLNX
endingXLNX
starting XL
endingXL
starting XYL
endingXYL
Unexpected error: <class 'sqlalchemy.exc.InternalError'>
starting YUM
endingYUM
starting ZBH
endingZBH
starting ZION
endingZION
starting ZTS
endingZTS
Unexpected error: <class 'sqlalchemy.exc.InternalError'>

In [29]:
df_company_fundmntls[['roa','roe','ros']]

       roa   roe   ros
None
0     None  None  None
1     None  None  None
2     None  None  None
3     None  None  None
4     None  None  None
5     None  None  None
6     None  None  None
7     None  None  None
8     None  None  None
9     None  None  None
10    None  None  None
11    None  None  None
12    None  None  None
13    None  None  None
14    None  None  None
15    None  None  None
16    None  None  None
17    None  None  None
18    None  None  None
19    None  None  None
20    None  None  None
21    None  None  None
22    None  None  None
23    None  None  None
24    None  None  None
25    None  None  None
26    None  None  None
27    None  None  None
28    None  None  None
29    None  None  None
30    None  None  None
31    None  None  None
32    None  None  None
33    None  None  None
34    None  None  None
35    None  None  None
36    None  None  None
37    None  None  None
38    None  None  None
39    None  None  None
40    None  None  None

In [263]:
df_overallFin

Empty DataFrame
Columns: []
Index: []

In [88]:
cmpny_financials_attr

['id_cmpny',
 'ticker',
 'datekey',
 'DE',
 'PE1',
 'PS1',
 'PB',
 'NETMARGIN',
 'MARKETCAP',
 'EV',
 'EVEBITDA',
 'REVENUEUSD',
 'GP',
 'EBITDA',
 'NETINCCMNUSD',
 'EPSDIL',
 'DEBTUSD',
 'CURRENTRATIO',
 'BVPS',
 'NCFO',
 'DEPAMOR',
 'SBCOMP',
 'NCFI',
 'CAPEX',
 'NCFBUS',
 'NCFINV',
 'NCFF',
 'NCFDEBT',
 'NCFCOMMON',
 'NCFDIV',
 'NCFX',
 'NCF',
 'ROIC',
 'SPS',
 'PAYOUTRATIO',
 'ROA',
 'ROE',
 'ROS',
 'TANGIBLES',
 'TBVPS',
 'WORKINGCAPITAL',
 'price',
 'sp_price',
 'price_change',
 'sp_price_change',
 'diff',
 'status']

In [78]:
stck_fund_attr

['ticker',
 'datekey',
 'DE',
 'PE1',
 'PS1',
 'PB',
 'NETMARGIN',
 'MARKETCAP',
 'EV',
 'EVEBITDA',
 'REVENUEUSD',
 'GP',
 'EBITDA',
 'NETINCCMNUSD',
 'EPSDIL',
 'DEBTUSD',
 'CURRENTRATIO',
 'BVPS',
 'NCFO',
 'DEPAMOR',
 'SBCOMP',
 'NCFI',
 'CAPEX',
 'NCFBUS',
 'NCFINV',
 'NCFF',
 'NCFDEBT',
 'NCFCOMMON',
 'NCFDIV',
 'NCFX',
 'NCF',
 'ROIC',
 'SPS',
 'PAYOUTRATIO',
 'ROA',
 'ROE',
 'ROS',
 'TANGIBLES',
 'TBVPS',
 'WORKINGCAPITAL',
 'price']

In [93]:

cmpny_financials_attr = [x.lower() for x in cmpny_financials_attr]
cmpny_financials_attr

['id_cmpny',
 'ticker',
 'datekey',
 'de',
 'pe1',
 'ps1',
 'pb',
 'netmargin',
 'marketcap',
 'ev',
 'evebitda',
 'revenueusd',
 'gp',
 'ebitda',
 'netinccmnusd',
 'epsdil',
 'debtusd',
 'currentratio',
 'bvps',
 'ncfo',
 'depamor',
 'sbcomp',
 'ncfi',
 'capex',
 'ncfbus',
 'ncfinv',
 'ncff',
 'ncfdebt',
 'ncfcommon',
 'ncfdiv',
 'ncfx',
 'ncf',
 'roic',
 'sps',
 'payoutratio',
 'roa',
 'roe',
 'ros',
 'tangibles',
 'tbvps',
 'workingcapital',
 'price',
 'sp_price',
 'price_change',
 'sp_price_change',
 'diff',
 'status']

In [116]:
companies_f = engine.execute("select ticker,count(*) from cmpny_financials group by ticker ").fetchall()

In [144]:
companies_f = engine.execute("select * from cmpny c where not exists (select ticker from cmpny_financials where ticker = c.ticker) ").fetchall()

In [13]:
companies_f

[(15896,)]

In [138]:
companies_f = engine.execute("select * from cmpny_financials where ticker IN ('CSX','CMI','CVS','DHI','DE') ").fetchall()

In [12]:
companies_f = engine.execute("select count(*) from cmpny_financials  ").fetchall()