In [1]:
#import Dependencies
import os
import pandas as pd

In [2]:
#create filepath
filepath = os.path.join("data","companies.csv")

In [3]:
#read csv to data-frame
companies = pd.read_csv(filepath)
companies.head()

                  name                   address  tckr                  sector
0           3M Company       St. Paul, Minnesota   MMM             Industrials
1  Abbott Laboratories   North Chicago, Illinois   ABT             Health Care
2          AbbVie Inc.   North Chicago, Illinois  ABBV             Health Care
3        Accenture plc           Dublin, Ireland   ACN  Information Technology
4  Activision Blizzard  Santa Monica, California  ATVI  Information Technology

In [24]:
ticker = "ABT"

In [28]:
companies.loc[companies['tckr'] == ticker]["tckr"].values[0]

'ABT'

In [23]:
company_dict = {"company_ticker": companies.loc[companies['tckr'] == ticker]["tckr"][0],
                "company_name": companies.loc[companies['tckr'] == ticker]["name"][0],
                "company_address": companies.loc[companies['tckr'] == ticker]["address"][0],
                "company_sector" : companies.loc[companies['tckr'] == ticker]["sector"][0]
}

In [16]:
company_dict

{'company_address': 'St. Paul, Minnesota',
 'company_name': '3M Company',
 'company_sector': 'Industrials',
 'company_ticker': 'MMM'}

In [ ]:
print(company_dict)